<div class="lnav bg-main">
    <div class="lnav-top">
        <div class="lnav-site d-flex justify-c">
            <a href="/"><img width="148" height="60" src="/images/logo/logoManager.svg" alt="Logo Site"></a>
        </div>
        <div class="lnav-comp d-flex align-c flex-dr-c">
            <img class="lnav-comp-logo rounded-circle" onerror="this.onerror=null;this.src='/images/img/default_logo.jpg';" width="80" height="80" alt="Logo Company" id="usc_logo">
            <div class="color-white fs-5 fw-700 text-c" id="usc_company"></div>
        </div>
    </div>
    <div class="lnav-bot fw-500 color-white">
        <div class="lnav-item">
            <a class="lnav-link <%= currentUrl === '/ntd/quan-ly-nha-tuyen-dung' ? 'active' : '' %>" href="/ntd/quan-ly-nha-tuyen-dung">
                <img src="/images/icon/mana_all.svg" width="25" height="22" alt="Manager All Icon">
                Quản lý chung
            </a>
        </div>
        <div class="lnav-item">
            <div class="lnav-tog">
                <img src="/images/icon/mana_job.svg" width="20" height="24.6" alt="Manager Job Icon">
                Tin tuyển dụng
            </div>
            <div class="lnav-list">
                <div class="d-flex flex-dr-c">
                    <a class="lnav-list-link <%= currentUrl === '/ntd/dang-tin-tuyen-dung' ? 'active' : '' %>" href="/ntd/dang-tin-tuyen-dung">Đăng tin mới</a>
                    <a class="lnav-list-link <%= currentUrl === '/ntd/quan-ly-tin-dang' ? 'active' : '' %>" href="/ntd/quan-ly-tin-dang">Tin đã đăng</a>
                </div>
            </div>
        </div>
        <div class="lnav-item">
            <div class="lnav-tog">
                <img src="/images/icon/mana_cv.svg" width="21" height="26" alt="Manager CV Icon">
                Quản lý hồ sơ
            </div>
            <div class="lnav-list">
                <div class="d-flex flex-dr-c">
                    <a class="lnav-list-link <%= currentUrl === '/ntd/quan-ly-ung-vien-ung-tuyen' ? 'active' : '' %>" href="/ntd/quan-ly-ung-vien-ung-tuyen">Ứng viên đến ứng tuyển</a>
                    <a class="lnav-list-link <%= currentUrl === '/ntd/quan-ly-ung-vien-da-luu' ? 'active' : '' %>" href="/ntd/quan-ly-ung-vien-da-luu">Hồ sơ ứng viên đã lưu</a>
                </div>
            </div>
        </div>
        <div class="lnav-item">
            <div class="lnav-tog">
                <img src="/images/icon/mana_acc.svg" width="27" height="22.74" alt="Manager Account Icon">
                Quản lý tài khoản
            </div>
            <div class="lnav-list">
                <div class="d-flex flex-dr-c">
                    <a class="lnav-list-link <%= currentUrl === '/ntd/cap-nhat-thong-tin-cong-ty' ? 'active' : '' %>" href="/ntd/cap-nhat-thong-tin-cong-ty">Cập nhật thông tin</a>
                    <a class="lnav-list-link <%= currentUrl === '/ntd/doi-mat-khau-nha-tuyen-dung' ? 'active' : '' %>" href="/ntd/doi-mat-khau-nha-tuyen-dung">Đổi mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/common.js"></script>
<script>
    $(document).ready(function () {
        $('.lnav-tog').click(function () {
            var lnavList = $(this).next('.lnav-list');
            lnavList.slideToggle(400, function () {
                if (lnavList.is(':visible')) {
                    $('.lnav.bg-main').animate({
                        scrollTop: lnavList.offset().top + lnavList.outerHeight() - $('.lnav.bg-main').height()
                    }, 400);
                }
            });
        });
    });
    $(document).ready(function () {
        const lnavItemActive = $('.lnav-list-link.active')
        if (lnavItemActive) {
            const parent = $('.lnav-list-link.active').parents('.lnav-list')
            parent.slideToggle();
        }
    })
</script>
<script>
    $(document).ready(function () {
        $('#dangTinMoiLink').on('click', function (event) {
            event.preventDefault();
            $('body').fadeOut(500, function () {
                window.location.href = '/ntd/dang-tin-tuyen-dung';
            });
            $('body').addClass('fade-in');
        });
    });
</script>
<script src="/js/leftnav_ntd.js"></script>