<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="robots" content="noindex, follow" /> -->
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="lwyGMjMCHXSuJXWOc3iy1MG_Hd6yRBARF5H8NuMxUPg" />
    <meta name="description"
        content="TopCv1s.com - Nền tảng tìm việc số 1 Việt Nam, kết nối ứng viên với cơ hội việc làm tốt nhất. Đăng ký ngay để ứng tuyển việc làm miễn phí.">
    <meta name="twitter:card" content="Đăng ký TopCv1s để tìm việc làm uy tín, ứng tuyển nhanh">
    <meta name="twitter:site" content="TopCv1s">
    <meta name="twitter:title" content="Đăng ký TopCv1s để tìm việc làm uy tín, ứng tuyển nhanh">
    <meta name="twitter:description"
        content="TopCv1s.com - Nền tảng tìm việc số 1 Việt Nam, kết nối ứng viên với cơ hội việc làm tốt nhất. Đăng ký ngay để ứng tuyển việc làm miễn phí.">
    <meta property="og:site_name" content="TopCv1s">
    <meta property="og:image" content="http://localhost:9020/images/img/icon_head.png">
    <meta property="og:url" content="http://localhost:9020<%= url %>">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="Đăng ký TopCv1s để tìm việc làm uy tín, ứng tuyển nhanh">
    <meta name="twitter:site" content="TopCv1s">
    <meta name="twitter:title" content="Đăng ký TopCv1s để tìm việc làm uy tín, ứng tuyển nhanh">
    <meta name="twitter:description"
        content="TopCv1s.com - Nền tảng tìm việc số 1 Việt Nam, kết nối ứng viên với cơ hội việc làm tốt nhất. Đăng ký ngay để ứng tuyển việc làm miễn phí.">
    <meta property="og:site_name" content="TopCv1s">
    <meta property="og:image" content="http://localhost:9020/images/img/icon_head.png">
    <meta property="og:url" content="http://localhost:9020<%= url %>">
    <meta property="og:type" content="website">
    <title>Đăng ký TopCv1s để tìm việc làm uy tín, ứng tuyển nhanh</title>
    <link rel="icon" href="/images/img/icon_head.png">
    <link rel="canonical" href="http://localhost:9020<%= url %>">
    <!-- <link rel="preload" as="style" href="/css/uv/register_uv.css"> -->
    <link rel="stylesheet" href="/css/uv/register_uv.css" as="style">

    <!-- <link rel="preload" as="style" href="/css/common.css"> -->
    <link rel="stylesheet" href="/css/common.css" as="style">

    <!-- <link rel="preload" as="style" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/header.css" as="style">

    <!-- <link rel="preload" href="/css/footer.css">
    <noscript>
        <link rel="stylesheet" href="/css/footer.css">
    </noscript> -->
    <!-- <link rel="preload" as="style" href="/css/custom_select2.css"> -->
    <link rel="stylesheet" href="/css/custom_select2.css" as="style">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "ItemPage","url": "http://localhost:9020<%= url %>","mainEntityOfPage": "Trang Tin Tức Việc Làm Số 1 - Tìm Việc, Tuyển Dụng Hiệu Quả, Miễn Phí"}</script>
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"EmploymentAgency","name":"topcv1s.com","alternateName":"Tìm Việc Nhanh, Tuyển Dụng Hiệu Quả | TopCv1s.com","logo":"http://localhost:9020/images/img/icon_head.png","image":"http://localhost:9020/images/img/icon_head.png","url":"http://localhost:9020"}</script>
    <script
        type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://localhost:9020/"}</script>
    <!-- <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "ItemPage","url": "http://localhost:9020<%= url %>","mainEntityOfPage": "Trang Tin Tức Việc Làm Số 1 - Tìm Việc, Tuyển Dụng Hiệu Quả, Miễn Phí"}</script>
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"EmploymentAgency","name":"topcv1s.com","alternateName":"Tìm Việc Nhanh, Tuyển Dụng Hiệu Quả | TopCv1s.com","logo":"http://localhost:9020/images/img/icon_head.png","image":"http://localhost:9020/images/img/icon_head.png","url":"http://localhost:9020"}</script>
    <script
        type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://localhost:9020/"}</script> -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "DesPage",
            "url": "http://localhost:9020<%= url %>",
            "title": "Đăng ký TopCv1s để tìm việc làm uy tín, ứng tuyển nhanh",
            "description": "TopCv1s.com - Nền tảng tìm việc số 1 Việt Nam, kết nối ứng viên với cơ hội việc làm tốt nhất. Đăng ký ngay để ứng tuyển việc làm miễn phí.",
            "thumbnail": "http://localhost:9020/images/img/default_logo.jpg"
        } 
    </script> 
</head>

<body>
    <%- include('../layouts/header', {}); %>
        <div id="content" style="padding-top:80px">
            <div class="regis_form container">
                <div class="regis_content bg-white">
                    <h1 class="regis_title text-c fs-4 fw-600">
                        ĐĂNG KÝ TOPCV1S ĐỂ TÌM VIỆC LÀM NHANH, ỨNG TUYỂN MIỄN PHÍ
                    </h1>
                    <div class="regis_detail d-flex flex-wr justify-b">
                        <div class="regis_box regis_email">
                            <h2 class="mb-0 fs-6">
                                <label for="user_email" class="fw-600">Địa chỉ Gmail <span>*</span></label>
                            </h2>
                            <input class="regis_inp" type="email" id="user_email" placeholder="Nhập địa chỉ email của bạn" required>
                        </div>
                        <div class="regis_box-1 regis_pass">
                            <h2 class="mb-0 fs-6">
                                <label for="user_pass" class="fw-600">Mật khẩu đăng nhập <span>*</span></label>
                            </h2>
                            <input class="regis_inp" type="password" id="user_pass" placeholder="Vui lòng nhập mật khẩu">
                        </div>
                        <div class="regis_box-1 regis_repass">
                            <h2 class="mb-0 fs-6">
                                <label for="user_repass" class="fw-600">Xác nhận lại mật khẩu <span>*</span></label>
                            </h2>
                            <input class="regis_inp" type="password" id="user_repass" placeholder="Vui lòng nhập mật khẩu">
                        </div>
                        <div class="regis_box-1 regis_name">
                            <h2 class="mb-0 fs-6">
                                <label for="user_name" class="fw-600">Họ và tên <span>*</span></label>
                            </h2>
                            <input class="regis_inp" type="text" id="user_name" placeholder="Vui lòng nhập họ và tên">
                        </div>
                        <div class="regis_box-1 regis_phone">
                            <h2 class="mb-0 fs-6">
                                <label for="user_phone" class="fw-600">Số điện thoại <span>*</span></label>
                            </h2>
                            <input class="regis_inp" type="number" id="user_phone" placeholder="Nhập số điện thoại của bạn">
                        </div>
                        
                        <div class="regis_box regis_pos">
                            <h2 class="mb-0 fs-6">
                                <label for="user_pos" class="fw-600">Vị trí mong muốn <span>*</span></label>
                            </h2>
                            <input class="regis_inp" type="text" id="user_pos" placeholder="Ví dụ: nhân viên kinh doanh, nhân viên hành chính ...">
                        </div>
                        <div class="regis_box-1 regis_car cnt-linp">
                            <h2 class="mb-0 fs-6">
                                <label for="user_car" class="fw-600">Ngành nghề <span>*</span></label>
                            </h2>
                            <select class="regis_inp" id="user_car" name="cat_box[]" multiple="multiple">
                                <option></option>
                                <% if (cateList && cateList.length > 0) { %>
                                    <% cateList.forEach(function(item) { %>
                                        <option value="<%= item.cat_id %>"><%= item.cat_name %></option>
                                    <% }); %>
                                <% }  %>
                            </select>
                        </div>
                        <div class="regis_box-1 regis_loc cnt-linp">
                            <h2 class="mb-0 fs-6">
                                <label for="user_loc" class="fw-600">Địa điểm làm việc <span>*</span></label>
                            </h2>
                            <select class="regis_inp" id="user_loc" name="cit_box[]" multiple="multiple">
                                <% for (let i=0; i < listCities.length; i++) { %>
                                    <option value="<%= listCities[i].cit_id %>">
                                        <%= listCities[i].cit_name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <h2 class="regis_ins fw-700 fs-4 color-main mb-4 text-c">
                        <h2 class="regis_ins fw-700 fs-4 color-main mb-4 text-c">
                            Chọn 1 trong 2 cách sau để lưu và hoàn thiện hồ sơ
                        </h2>
                    </h2>
                    <div class="regis_cv d-flex align-c">
                        <div class="regis_cvol w-100 d-flex justify-c">
                            <h3 class="d-flex align-c gap-3 fs-5 fw-700 color-main mb-0"
                                id="registerNewCandidateThenCv">
                                <img src="/images/icon/regis_cvol.svg" width="24" height="24" alt="Icon Cv Online">
                                Tạo CV online từ TopCv1s
                            </h3>
                        </div>
                        <div class="regis_cvul w-100 d-flex justify-c">
                            <h3 class="d-flex align-c gap-3 fs-5 fw-700 mb-0" id="registerNewCandidate">
                                <img src="/images/icon/regis_cvul.svg" width="24" height="24" alt="Icon Cv Upload">
                                Tải CV Lên
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="/css/footer.css" as="style">
        <%- include('../layouts/footer', {}); %>
        <script src="/js/custom_select.js"></script>
            <script type="module">
                $(document).ready(function () {
                    //Đăng ký ứng viên bước 1
                    function getSelectedValuesById(selectId) {
                        var selectedValues = [];
                        
                        var containerSelector = '#' + selectId + ' + .custom-select-wrapper .selected-options-container';
                        
                        $(containerSelector + ' .selected-option').each(function() {
                            var value = $(this).data('value');
                            selectedValues.push(value);
                        });
                        
                        return selectedValues;
                    }
                    $('#registerNewCandidate').click(function handleRegisterCandidate() {
                        let user_phone = $('#user_phone').val();
                        let user_pass = $('#user_pass').val();
                        let user_repass = $('#user_repass').val();
                        let user_name = $('#user_name').val();
                        let user_email = $('#user_email').val();
                        let user_pos = $('#user_pos').val();
                        var user_car = getSelectedValuesById('user_car');
                        var user_loc = getSelectedValuesById('user_loc');
                        // Kiểm tra dữ liệu đầu vào
                        if (!user_phone || !user_pass || !user_repass || !user_name || !user_email || !user_pos || !user_car || !user_loc) {
                            alert('Vui lòng nhập đầy đủ thông tin');
                            return;
                        } else if (user_pass !== user_repass) {
                            alert('Mật khẩu nhập lại chưa chính xác');
                            return;
                        }
                        // Tạo đối tượng dữ liệu
                        let data = {
                            phoneTK: user_phone,
                            password: user_pass,
                            rePassword: user_repass,
                            jobName: user_pos,
                            nganhNghe: user_car.join(','),
                            jobCity: user_loc.join(','),
                            image: "url",
                            name: user_name,
                            email: user_email,
                            jobDistrict: 1
                        };
                        // Gọi API để đăng ký tài khoản
                        $.ajax({
                            url: "http://localhost:3050/api/topcv1s/user/RegisterCandidate2",
                            type: "POST",
                            data: data,
                            success: function (response) {
                                document.cookie = `accessToken=${response.data.Token}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `use_id=${response.data.use_id}; max-age=${365 * 24 * 60 * 60}`;
                                document.cookie = `use_phone=${response.data.phone}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `type=${response.data.type}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `auth=${response.data.auth}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `userName=${response.data.userName}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `use_mail=${response.data.use_mail}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `use_logo=${response.data.use_logo}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `usc_search=${response.data.usc_search}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `isLogin=true; max-age=${60 * 24 * 60 * 60}`;
                                alert('Đăng ký thành công!');
                                window.location.href = '/dang-ky-tai-cv';
                            },
                            error: function (xhr, status, error) {
                                let errorMessage;
                                let response = JSON.parse(xhr.responseText);
                                if (response.error) {
                                    errorMessage = response.error.message;
                                }
                                alert(errorMessage);
                                console.log('Error:', errorMessage);
                            }
                        });
                    });

                    $('#registerNewCandidateThenCv').click(function handleRegisterCandidate() {
                        let user_phone = $('#user_phone').val();
                        let user_pass = $('#user_pass').val();
                        let user_repass = $('#user_repass').val();
                        let user_name = $('#user_name').val();
                        let user_email = $('#user_email').val();
                        let user_pos = $('#user_pos').val();
                        var user_car = getSelectedValuesById('user_car');
                        var user_loc = getSelectedValuesById('user_loc');
                        // Kiểm tra dữ liệu đầu vào
                        if (!user_phone || !user_pass || !user_repass || !user_name || !user_email || !user_pos || !user_car || !user_loc) {
                            alert('Vui lòng nhập đầy đủ thông tin');
                            return;
                        } else if (user_pass !== user_repass) {
                            alert('Mật khẩu nhập lại chưa chính xác');
                            return;
                        }
                        // Tạo đối tượng dữ liệu
                        let data = {
                            phoneTK: user_phone,
                            password: user_pass,
                            rePassword: user_repass,
                            jobName: user_pos,
                            nganhNghe: user_car.join(','),
                            jobCity: user_loc.join(','),
                            image: "url",
                            name: user_name,
                            email: user_email,
                            jobDistrict: 1
                        };
                        // Gọi API để đăng ký tài khoản
                        $.ajax({
                            url: "http://localhost:3050/api/topcv1s/user/RegisterCandidate2",
                            type: "POST",
                            data: data,
                            success: function (response) {
                                const keys = ['name', 'phoneTK', 'email', 'jobName']
                                const infoCV = {}

                                keys.forEach((key) => {
                                    if (data.hasOwnProperty(key)) {
                                        infoCV[key] = data[key]
                                    }
                                })                            
                                localStorage.setItem("userInfo", JSON.stringify(infoCV))
                                document.cookie = `accessToken=${response.data.Token}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `use_id=${response.data.use_id}; max-age=${365 * 24 * 60 * 60}`;
                                document.cookie = `use_phone=${response.data.phone}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `type=${response.data.type}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `auth=${response.data.auth}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `userName=${response.data.userName}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `use_logo=${response.data.use_logo}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `use_mail=${response.data.use_mail}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `usc_search=${response.data.usc_search}; max-age=${60 * 24 * 60 * 60}`;
                                document.cookie = `isLogin=true; max-age=${60 * 24 * 60 * 60}`;
                                alert('Đăng ký thành công!');
                                window.location.href = '/cv-xin-viec';
                            },
                            error: function (xhr, status, error) {
                                let errorMessage;
                                let response = JSON.parse(xhr.responseText);
                                if (response.error) {
                                    errorMessage = response.error.message;
                                }
                                alert(errorMessage);
                                console.log('Error:', errorMessage);
                            }
                        });
                    });
                });
            </script>
            <script>
                $(document).ready(function() {
                    $('#user_car').CustomSelect({
                        placeholder: 'Chọn 1 hoặc tối đa 3 ngành nghề',
                        searchPlaceholder: 'Tìm kiếm...',
                        multiple: true, 
                        maxItems: 3
                    });
                    $('#user_loc').CustomSelect({
                        placeholder: 'Chọn 1 hoặc tối đa 3 tỉnh bạn muốn làm việc',
                        searchPlaceholder: 'Tìm kiếm...',
                        multiple: true,  
                        maxItems: 3
                    });
                });
                document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll(".nav-only-candi").forEach(function (element) {
                    const navItem = element.closest(".nav-item");
                    if (navItem) {
                        navItem.remove();
                    }
                });

                document.querySelectorAll(".nav-btn").forEach(function (element) {
                    element.classList.add("active");
                });

                const btnDrop = document.querySelector(".btn-drop");
                if (btnDrop) {
                    btnDrop.addEventListener("click", function () {
                        const menuAccounts = document.querySelectorAll(".menu-drop .menu_account");

                        menuAccounts.forEach(function (menuAccount) {
                            if (!menuAccount.classList.contains("active")) {
                                menuAccount.classList.add("active");
                                menuAccount.style.display = "block"; 
                            } else {
                                menuAccount.classList.remove("active");
                                menuAccount.style.display = "none"; 
                            }
                        });
                    });
                }
            });
            </script>
            
            
</body>

</html>