<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, follow" />
    <title>Tác giả <%= data.data.adminData.adm_name  %></title>
    <link rel="icon" href="/images/img/icon_head.png">    
    <link rel="canonical" href="http://localhost:9020<%= url %>">
    <link rel="stylesheet" href="/css/page_css/authornews.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <script src="/js/jquery.min.js"></script>
    <script
    type="application/ld+json">{"@context": "https://schema.org","@type": "ItemPage","url": "","mainEntityOfPage": "Trang Tin Tức Việc Làm Số 1 - Tìm Việc, Tuyển Dụng Hiệu Quả, Miễn Phí"}</script>
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"EmploymentAgency","name":"topcv1s.com","alternateName":"Tìm Việc Nhanh, Tuyển Dụng Hiệu Quả | TopCv1s.com","logo":"http://localhost:9020/images/img/icon_head.png","image":"http://localhost:9020/images/img/icon_head.png","url":"http://localhost:9020"}</script>
    <script
        type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://localhost:9020<%= url %>,"mainEntityOfPage":"Tìm Kiếm Các Bài Viết Hay Nhất"}</script>
    <meta name="google-site-verification" content="lwyGMjMCHXSuJXWOc3iy1MG_Hd6yRBARF5H8NuMxUPg" />
</head>

<body id="body">
    <%- include('layouts/header', {}); %>
        <div id="content" style="padding-top: 80px">
            <div class="news">
                <div class="container news_cnt d-flex bg-white">
                    <div class="news_lef">
                        <div class="breadcrumb">
                            <div class="breadcrumb-item">
                                <a href="/tin-tuc">TopCv1s Blog</a>
                            </div>
                            <div class="breadcrumb-item">
                                <a href="">Bài viết của: <span class="author_name"><%= data.data.adminData.adm_name  %></span></a>
                            </div>
                        </div>
                        <div class="news_des">
                            <div class="news-head">
                                <h1 class="news-tit mb-0">
                                    <%= data.data.adminData.adm_name  %>
                                </h1>
                            </div>
                            <div class="news_avar">
                                <img width="130" height="130" src="<%= data.data.adminData.adm_picture %>" onerror="this.onerror=null;this.src='/images/img/default_logo.jpg';">
                            </div>
                            <div class="news_list-cnt">
                                <% if (data.data.data && data.data.data.length > 0) { %>
                                    <% data.data.data.forEach(function(item) { %>
                                    <div class="news_item">
                                        <div class="news_thumb">
                                            <img src="<%= item.new_picture %>" onerror="this.onerror=null;this.src='/images/img/default_logo.jpg';" class="w-100" alt="<%= item.new_title %>">
                                        </div>
                                        <div class="news_info">
                                            <div class="news_tit">
                                                <a href="<%= item.new_title_rewrite %>">
                                                    <%= item.new_title %>
                                                </a>
                                            </div>
                                            <div class="news_more">
                                                <div class="news_time">
                                                    <img src="/images/icon/new_time-line.svg" width="16" height="16" alt="Time Ling"> <%= convertTimestampDetail(parseInt(item.new_date_last_edit)) %>
                                                </div>
                                                <div class="news_author">
                                                    <div class="news_author-avar rounded-circle">
                                                        <img class="rounded-circle" onerror="this.onerror=null;this.src='/images/icon/noun-author.svg';" src="<%= item.adm_picture %>" width="16" height="16" alt="Author news">
                                                    </div>
                                                    <div class="news_author-name">
                                                        <%= item.adm_name %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="news_des">
                                                <%= item.new_des %>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                                <% } else { %>
                                    <h3 class="color-alert mb-0 fs-6 fw-400">Chưa có bài viết</h3>
                                <% } %>
                            </div>
                        </div>
                        <!-- <div class="news_paginate">
                            <div class="paginate-item active">
                                1
                            </div>
                            <div class="paginate-item">
                                2
                            </div>
                            <div class="paginate-item">
                                3
                            </div>
                            <div class="paginate-item">
                                4
                            </div>
                            <div class="paginate-item">
                                5
                            </div>
                            <div class="paginate-item">
                                ...
                            </div>
                            <div class="paginate-item">
                                178
                            </div>
                            <div class="paginate-item">
                                <img src="/images/icon/next-double-line.svg" width="11" height="11" alt="Next Paginate">
                            </div>
                        </div> -->
                    </div>
                    <div class="news_rig">
                        <div class="news_search d-flex w-100">
                            <input placeholder="Nhập từ khóa cần tìm" id="search_news">
                            <button class="news_search_btn">
                                <img src="/images/icon/search_white.svg" width="30" height="30" alt="Search Icon">
                            </button>
                        </div>
                        <div class="news_job">
                            <div class="news-head">
                                <h2 class="news-tit mb-0">
                                    VIỆC LÀM ĐỀ XUẤT CHO BẠN
                                </h2>
                            </div>
                            <div class="list_job">
                                <% if (job_recommend.data.data.data && job_recommend.data.data.data.length > 0) { %>
                                    <% job_recommend.data.data.data.slice(0, 5).forEach(function(item) { %>
                                        <div class="job_item">
                                            <div class="job_head">
                                                <div class="job_info">
                                                    <div class="job_logo">
                                                        <img src="<%= item.companyDetails.usc_alias %>" onerror="this.onerror=null;this.src='/images/img/default_logo.jpg';" alt="" width="70" height="70">
                                                    </div>
                                                    <div class="job_tit">
                                                        <div class="job_name mb-2">
                                                            <a href="<%= item.new_alias %>-<%= item.new_id %>">
                                                                <%= item.new_title %>
                                                            </a>
                                                        </div>
                                                        <div class="job_comp">
                                                            <a href="<%= item.companyDetails.usc_alias %>">
                                                                <%= item.companyDetails.usc_company %>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="job_save">
                                                    <img src="/images/icon/Bookmark.svg" width="24" height="24" alt="Save Job Icon">
                                                </div>
                                            </div>
                                            <div class="job_label">
                                                <label><%= findCity(parseInt(item.new_city)) %></label>
                                                <label><%= getMucLuong2(item.new_money_type,item.new_money_from,item.new_money_to,item.new_money) %></label>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% }  %>
                            </div>
                        </div>
                        <div class="news_recent">
                            <div class="news-head">
                                <h2 class="news-tit mb-0">
                                    BÀI VIẾT MỚI NHẤT
                                </h2>
                            </div>
                            <ul class="new_list">
                                <% if (data.data.hotNew && data.data.hotNew.length > 0) { %>
                                    <% data.data.hotNew.forEach(function(item) { %>
                                        <li>
                                            <a href="<%= item.new_title_rewrite %>">
                                                <%= item.new_title %>
                                            </a>
                                        </li>
                                    <% }); %>
                                <% } else { %>
                                    <h3 class="color-alert mb-0 fs-6 fw-400">Chưa có bài viết</h3>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include('layouts/footer', {}); %>
            <script>
                $(document).ready(function() {
                    $(".nav-item").hover(
                        function() {
                            $(this).children(".nav-dropdown").stop(true, true).fadeIn(300);
                        },
                        function() {
                            $(this).children(".nav-dropdown").stop(true, true).fadeOut(300);
                        }
                    );
                });
                $('.news_search_btn').click(function(){
                        var keywords = $('#search_news').val();
                        if (keywords != ''){
                            url = '/tim-kiem-tin-tuc?' + 'keywords='+ keywords;
                        }
                        else{
                            url = '/tim-kiem-tin-tuc';
                        }
                        window.location.href = url;
                        console.log(keywords);
                        $.ajax({
                            url: 'http://localhost:3053/api/topcv1s/new/SearchBlog',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                keywords: keywords,
                                page: page,
                            }),
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(error) {
                                console.error(error);
                            }
                        });
                    })
            </script>
            
            
</body>

</html>