<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="TopCv1s cung cấp kho mẫu CV xin việc online đẹp, đa ngôn ngữ, chất lượng cho các vị trí công việc hot nhất. Ứng viên tạo và tải CV miễn phí trong 3 phút">
    <meta name="twitter:card" content="Danh sách mẫu CV online đẹp nhất 2025, tạo và tải miễn phí">
    <meta name="twitter:site" content="TopCv1s">
    <meta name="twitter:title" content="Danh sách mẫu CV online đẹp nhất 2025, tạo và tải miễn phí">
    <meta name="twitter:description" content="TopCv1s cung cấp kho mẫu CV xin việc online đẹp, đa ngôn ngữ, chất lượng cho các vị trí công việc hot nhất. Ứng viên tạo và tải CV miễn phí trong 3 phút">
    <meta property="og:site_name" content="TopCv1s">
    <meta property="og:image" content="http://localhost:9020/images/img/icon_head.png">
    <meta property="og:url" content="http://localhost:9020/cv-xin-viec">
    <meta property="og:type" content="website">
    <title>Danh sách mẫu CV online đẹp nhất 2025, tạo và tải miễn phí</title>
    <link rel="canonical" href="http://localhost:9020/cv-xin-viec">
    <link rel="icon" href="/images/img/icon_head.png">
    <!-- <link rel="preload" as="style" href="/css/common.css"> -->
    <link rel="stylesheet" href="/css/common.css" as="style">
    <!-- <link rel="preload" as="style" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/header.css" as="style">
    <!-- <link rel="preload" as="style" href="/css/page_css/cv_page.css"> -->
    <link rel="stylesheet" href="/css/page_css/cv_page.css" as="style">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "ItemPage",
          "url": "http://localhost:9020/cv-xin-viec",
          "mainEntityOfPage": "Danh sách mẫu CV online đẹp nhất 2025, tạo và tải miễn phí"
        }
        </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "EmploymentAgency",
          "name": "topcv1s.com",
          "alternateName": "Tìm Việc Nhanh, Tuyển Dụng Hiệu Quả | TopCv1s.com",
          "logo": "http://localhost:9020/images/img/icon_head.png",
          "image": "http://localhost:9020/images/img/icon_head.png",
          "url": "http://localhost:9020"
        }
        </script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "http://localhost:9020/cv-xin-viec"
        }
    </script>
    
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "DesPage",
          "url": "http://localhost:9020/cv-xin-viec",
          "title": "Danh sách mẫu CV online đẹp nhất 2025, tạo và tải miễn phí",
          "thumbnail": "http://localhost:9020/images/img/default_logo.jpg"
        }
    </script>
    <meta name="google-site-verification" content="lwyGMjMCHXSuJXWOc3iy1MG_Hd6yRBARF5H8NuMxUPg" />
    <!-- <script src="/js/jquery.min.js"></script> -->
</head>

<body id="body">
    <%- include('layouts/header', {}); %>
    <div id="content" class="xem_truoc_full_none" style="padding-top:80px">
        <div class="cv-header">
            <img class="banner" src="/images/img/backgroundlogin.webp" width="376" height="158" alt="Ảnh Banner"
                decoding="async">
            <div class="cv-header-cont text-c color-white d-flex flex-dr-c align-c">
                <h1 class="cv-header-tit mb-0">
                    Danh sách mẫu CV online đẹp, hỗ trợ tạo và tải về máy miễn phí
                    <br>
                    Tiếng Việt <img decoding="async" src="/images/logo/vn.webp" alt="icon">
                    | Anh <img decoding="async" src="/images/logo/us.webp" alt="icon">
                    | Hàn <img decoding="async" src="/images/logo/kr.webp" alt="icon">
                    | Nhật <img decoding="async" src="/images/logo/jp.webp" alt="icon">
                    | Trung <img decoding="async" src="/images/logo/cn.png" alt="icon">
                    Đẹp 2025
                </h1>
            </div>
        </div>
        <div class="cv-content">
            <div class="cv-des container">
                <link rel="stylesheet" href="/css/custom_select2.css" as="style">
                <div class="cv-fil d-flex justify-c">
                    <div class="cv-fil-arr d-flex gap-2 align-c">
                        <div class="cv-fil-tit fw-500">
                            Ngành nghề:
                        </div>
                        <select class="cv-fil-act" id="cat_id">
                            <option value="0">Tất cả ngành nghề</option>
                        </select>
                    </div>
                    <div class="cv-fil-arr d-flex gap-2 align-c">
                        <div class="cv-fil-tit fw-500">
                            Ngôn ngữ:
                        </div>
                        <select class="cv-fil-act" id="lang_id">
                            <option value="0">Tất cả ngôn ngữ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="cv-tit-list">
                <h2 class="fw-600 color-main fs-4 mb-4 text-c">Danh sách các mẫu CV đẹp</h2>
            </div>
            <div class="cv-list">
                <% for (let i=0; i<cvList.length; i++) { %>
                    <div class="cv-item">
                        <img class="cv-item-img" loading="<%= i === 0 ? 'eager' : 'lazy' %>"
                            decoding="<%= i === 0 ? 'auto' : 'async' %>" src="<%= cvList[i].cover_image %>"
                            alt="CV">
                        <div class="cv-item-more">
                            <div class="save_cv <%=cvList[i].saveCV?'bg-white':''%>" data-id="<%= cvList[i].id %>">
                                <img src="/images/icon/<%=cvList[i].saveCV?'act_saved_cv.svg':'act_save_cv.svg'%>" alt="save_cv">
                            </div>
                            <div class="cv-item-fix d-flex gap-2 align-c" data-img1="<%= cvList[i].image %>"
                                data-img2="<%= cvList[i].image2 %>" data-img3="<%= cvList[i].image3 %>"
                                data-color="<%= cvList[i].codecolor %>" data-name="<%= cvList[i].name %>"
                                data-alias="<%= cvList[i].alias %>" data-id="<%= cvList[i].id %>">
                                <img loading="lazy" src="/images/icon/preview.svg" width="20" height="20"
                                    alt="Chỉnh sửa CV">
                                <span>Xem trước CV</span>
                            </div>
                            <div class="cv-item-use d-flex gap-2 align-c" onclick="window.open('/tao-cv/<%= cvList[i].alias %>-<%= cvList[i].id %>', '_blank')">
                                <img loading="lazy" src="/images/icon/use_cv.svg" width="20" height="20"
                                    alt="Sử dụng CV">
                                <span>Dùng mẫu</span>
                            </div>
                            <div class="space" style="height: 10px;"></div>
                        </div>
                        <h3 class="cv-name color-main fw-500 mb-0" style="padding-left: 15px;">
                            <%= cvList[i].name %>
                        </h3>
                        <div class="color_box">
                            <% cvList[i].codecolor.split(',').forEach((color, index)=> { %>
                                <span <% %> style="background: #<%= color %>"></span>
                                <% }); %>
                        </div>
                    </div>
                    <% }; %>
            </div>

            <link rel="stylesheet" href="/css/pagination.css">
        </div>
        <div class="cv-intro bg-white">
            <div class="container">
                <div class="cv-intro-head d-flex align-c text-c flex-dr-c">
                    <h2 class="cv-intro-tit fw-400">
                        Tại sao nên tạo CV tại TopCv1s?
                    </h2>
                    <div class="cv-intro-des">
                        Chúng tôi giúp kết nối ứng viên với công ty và nhà tuyển dụng bằng việc cung cấp một
                        công cụ hoàn toàn mới để xây dựng, trình bày, chia sẻ CV và tìm công việc phù hợp dựa
                        trên hồ sơ của bạn.
                    </div>
                </div>
                <div class="cv-intro-body">
                    <div class="cv-intro-box">
                        <div class="cv-intro-box-gen d-flex gap-3 align-c">
                            <div class="cv-intro-box-ic">
                                <img loading="lazy" width="69" height="89" src="/images/icon/pepicons-pencil_cv.svg"
                                    alt="Icon CV">
                            </div>
                            <div class="cv-intro-box-cot">
                                <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                    <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                        Mẫu CV đa dạng và chuyên nghiệp
                                    </h3>
                                </h3>
                                <div class="cv-intro-box-des fs-5">
                                    Từ những mẫu CV đơn giản cho đến bắt mắt, tất cả đều có ở TopCv1s.
                                </div>
                            </div>
                        </div>
                        <div class="cv-intro-circle"></div>
                    </div>

                    <div class="cv-intro-box">
                        <img loading="lazy" src="/images/img/image35.png" alt="Intro CV Img">
                    </div>
                    <div class="cv-intro-box">
                        <div class="cv-intro-box-gen d-flex gap-3 align-c">
                            <div class="cv-intro-box-ic">
                                <img loading="lazy" width="113" height="62"
                                    src="/images/icon/mdi_email-fast-outline.svg" alt="Icon Email">
                            </div>
                            <div class="cv-intro-box-cot">
                                <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                    <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                        Nhanh và đơn giản
                                    </h3>
                                </h3>
                                <div class="cv-intro-box-des fs-5">
                                    Với TopCv1s, bạn có thể dễ dàng tạo một chiếc CV hoàn hảo chỉ với vài cú nhấp
                                    chuột. </div>
                            </div>
                        </div>
                        <div class="cv-intro-circle"></div>
                    </div>
                    <div class="cv-intro-box">
                        <div class="cv-intro-box-gen d-flex gap-3 align-c">
                            <div class="cv-intro-box-ic">
                                <img loading="lazy" width="83" height="81" src="/images/icon/hugeicons_note.svg"
                                    alt="Icon Note">
                            </div>
                            <div class="cv-intro-box-cot">
                                <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                    <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                        Những mẹo hữu ích
                                    </h3>
                                </h3>
                                <div class="cv-intro-box-des fs-5">
                                    TopCv1s sẽ giúp bạn viết CV một cách chi tiết, tự động đưa ra những đề xuất
                                    cũng như cảnh báo.
                                </div>
                            </div>
                        </div>
                        <div class="cv-intro-circle"></div>
                    </div>
                    <div class="cv-intro-box">
                        <div class="cv-intro-box-gen d-flex gap-3 align-c">
                            <div class="cv-intro-box-ic">
                                <img loading="lazy" width="86" height="51" src="/images/icon/la_user-friends.svg"
                                    alt="Icon Friendly">
                            </div>
                            <div class="cv-intro-box-cot">
                                <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                    <h3 class="cv-intro-box-tit fs-4 fw-600 mb-4">
                                        Cùng hợp tác với bạn bè
                                    </h3>
                                </h3>
                                <div class="cv-intro-box-des fs-5">
                                    Chỉnh sửa CV cùng bạn bè hoặc nhận sự hướng dẫn từ cố vấn trong cùng một
                                    thời điểm để cải thiện CV. </div>
                            </div>
                        </div>
                        <div class="cv-intro-circle"></div>
                    </div>
                </div>
                <div class="cv-intro-foot d-flex justify-b">
                    <div class="cv-intro-foot-lef">
                        <img loading="lazy" src="/images/img/image35.webp" width="103" height="200"
                            alt="Intro CV Img">
                    </div>
                    <div class="cv-intro-foot-rig">
                        <h2 class="cv-intro-foot-tit fw-600">
                            <h2 class="cv-intro-foot-tit fw-600">
                                Tạo những CV tuyệt vời cho công việc tiếp theo của bạn
                            </h2>
                        </h2>
                        <div class="cv-intro-foot-des fs-5 mb-4">
                            Chỉ trong 3 bước, tạo ấn tượng ngay với nhà tuyển dụng và công ty với CV chuyên
                            nghiệp và tuyệt vời của bạn.
                        </div>
                        <button class="cv-intro-foot-btn bg-main color-white fs-5">
                            Tạo CV Ngay
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="myModal" class="modal">
        <div id="modal-body"></div>
    </div>
    <div class="modal_cv" id="modal_cv">
        <div class="modal_cnt">
            <div class="modal_view">
                <img loading="lazy" class="w-100 img_cv_preview" src="/images/img/CV_Copywirter-01_1.png"
                    alt="Mẫu CV">
                <img loading="lazy" src="/images/icon/plus_zoom_cv.png" class="plus_zoom_cv" alt="Xem trước CV">
            </div>
            <div class="modal_act">
                <button class="modal_cls" style="cursor: pointer;">
                    <img loading="lazy" width="17" height="17" alt="Close Cv" src="/images/icon/cls_view_cv.svg">
                </button>
                <div class="modal_tit">
                    CV xin việc nhân viên bán hàng 01
                </div>
                <div class="modal_item">
                    <label>
                        Màu sắc
                    </label>
                    <div class="color_list">
                        <div class="color_item active">
                            <span style="background-color: #FAAF40;"></span>
                        </div>
                        <div class="color_item">
                            <span style="background-color: #2B3990;"></span>
                        </div>
                        <div class="color_item">
                            <span style="background-color: #00b14f;"></span>
                        </div>
                    </div>
                </div>
                <button class="modal_cv_used" style="cursor: pointer;" data-url="">
                    Dùng mẫu này
                </button>
            </div>
        </div>

    </div>

    </div>
    <!-- Xem trước Full -->
    <link rel="preload" href="/css/page_css/xem_truoc_full.css">
    <div class="overlay zoom_cv" id="zoom_cv" style="display: none;">
        <div class="wapper">
            <div class="auth_form po_r">
                <div class="p_left">
                    <div class="frame_img">
                        <img loading="lazy" class="img_cv" src="" alt="CV" style="width: 1000px; height: auto">
                        <img loading="lazy" class="close_zoom_cv" src="/images/cv/close_zoom_cv.png" alt="close">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/css/footer.css" as="style">
    <%- include('layouts/footer', {}); %>
    <script>
        $(document).ready(function () {
            $('.cv-item-fix').each(function () {
                $(this).click(function () {
                    $('.color_item').removeClass('active');
                    const img = $(this).attr('data-img1')
                    const img2 = $(this).attr('data-img2')
                    const img3 = $(this).attr('data-img3')
                    const name = $(this).attr('data-name')
                    const alias = $(this).attr('data-alias')
                    const id = $(this).attr('data-id')
                    let imgs = [];
                    imgs.push(img)
                    imgs.push(img2)
                    imgs.push(img3)
                    $('.color_item').first().addClass('active');
                    colors = $(this).attr('data-color').split(',')
                    $('.modal_view .img_cv_preview').attr('src', img)
                    $('.modal_tit').text(name)
                    $('.color_item span').each(function (index) {
                        if (index < colors.length) {
                            $(this).css('background-color', '#' + colors[index]);
                        }
                    });
                    $('.color_item').each(function (index) {
                        if (index < colors.length) {
                            $(this).find('span').css('background-color', '#' + colors[index]);
                            $(this).click(function () {
                                $('.color_item').removeClass("active");
                                $(this).addClass("active")
                                $('.modal_view .img_cv_preview').attr('src', imgs[index])
                            })
                        }
                    });
                    $('.modal_cv_used').attr('data-url', `/tao-cv/${alias}-${id}`)
                    $('#modal_cv').show();
                    $('.plus_zoom_cv').click(function () {
                        $('html').css('scrollbar-width', 'none')
                        $(".overlay.zoom_cv .img_cv").attr("src", $('.modal_view .img_cv_preview').attr('src'))
                        $('.overlay.zoom_cv').show()
                    })

                })
            })

            $('.modal_cls').click(function () {
                $('#modal_cv').hide();
                $('.color_item').removeClass('active');
                // $('.color_item').first().addClass('active');
            })

            $('.close_zoom_cv').click(function () {
                $('html').css('scrollbar-width', 'thin')
                $('#modal_cv').show()
                $('.overlay.zoom_cv').hide()
            })

            $('.modal_cv_used').click(function () {
                window.open($(this).attr('data-url'), '_blank')
            })
        })
    </script>
    <script>
        $('.nav-item').hover(function () {
            $(this).children('.nav-dropdown').stop(true, true).fadeIn(300);
        }, function () {
            $(this).children('.nav-dropdown').stop(true, true).fadeOut(300);
        });
    </script>
    <script>
        $('.modal_cls').click(function () {
            $('#modal_cv').hide();
            $('.color_item').removeClass('active');
            // $('.color_item').first().addClass('active');
        })
        $(document).mouseup(function (e) {
            var modalContent = $(".modal_cnt");
            var modalContainer = $(".modal_cv");

            // Nếu nhấn bên ngoài modal_cnt
            if (!modalContent.is(e.target) && modalContent.has(e.target).length === 0) {
                modalContainer.hide();
                // $('.color_item').removeClass('active');
                // $('.color_item').first().addClass('active');
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            let timer;
            let $modal = $('#myModal');
            let $modalBody = $('#modal-body');

            $('.blog-content a').hover(function (e) {
                const $link = $(this);
                const url = $link.attr('href');

                // Hiển thị modal với hiệu ứng fadeIn
                $modal.stop(true, true).fadeIn(300);

                // Lấy dữ liệu từ URL
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (data) {
                        // Tạo một phần tử DOM tạm thời để phân tích HTML
                        const tempDiv = $('<div>').html(data);

                        // Tìm tất cả các thẻ <script> với type="application/ld+json"
                        const jsonLdScripts = tempDiv.find('script[type="application/ld+json"]');

                        // Lấy thẻ <script> cuối cùng
                        const lastJsonLdScript = jsonLdScripts.last().html();

                        if (lastJsonLdScript) {
                            try {
                                // Phân tích dữ liệu JSON-LD
                                const jsonLdData = JSON.parse(lastJsonLdScript);
                                console.log(jsonLdData);

                                // Hiển thị dữ liệu trong modal
                                $modalBody.html(`
                                    <img class="w-100" src="${jsonLdData.thumbnail || 'http://localhost:9020/images/img/default_logo.jpg'}">
                                    <div class="modal-des">${jsonLdData.description || 'N/A'}</div>
                                `);
                            } catch (e) {
                                console.error('Không thể phân tích dữ liệu JSON-LD', e);
                                $modalBody.html('<div>Không thể phân tích dữ liệu JSON-LD</div>');
                            }
                        } else {
                            console.log('Không tìm thấy thẻ <script> JSON-LD nào');
                        }
                    },
                    error: function () {
                        console.error('Không thể lấy nội dung trang');
                        $modalBody.html('<p>Không thể lấy nội dung trang</p>');
                    }
                });

                // Tính toán vị trí của modal liên tục khi di chuyển chuột
                $link.on('mousemove', function (e) {
                    const cursorX = e.clientX;
                    const cursorY = e.clientY;
                    const modalWidth = $modal.outerWidth();
                    const modalHeight = $modal.outerHeight();
                    const windowWidth = $(window).width();
                    const windowHeight = $(window).height();

                    // Điều chỉnh vị trí modal dựa trên con trỏ chuột và viewport
                    let left, top;
                    if (cursorX > windowWidth / 2) {
                        left = cursorX - modalWidth - 10; // Modal nằm bên trái con trỏ chuột
                    } else {
                        left = cursorX + 10; // Modal nằm bên phải con trỏ chuột
                    }

                    if (cursorY + modalHeight > windowHeight) {
                        top = windowHeight - modalHeight - 10; // Modal nằm phía trên con trỏ chuột
                    } else if (cursorY < modalHeight + 10) {
                        top = 10; // Modal nằm phía dưới con trỏ chuột
                    } else {
                        top = cursorY - 10; // Modal ở vị trí con trỏ chuột
                    }

                    // Đặt vị trí của modal
                    $modal.css({
                        top: top + 'px',
                        left: left + 'px'
                    });
                });
            }, function () {
                // Ẩn modal với hiệu ứng fadeOut khi rời chuột khỏi liên kết
                timer = setTimeout(function () {
                    $modal.stop(true, true).fadeOut(300);
                }, 0); // Thay đổi thời gian delay nếu cần

                // Gỡ bỏ sự kiện mousemove khi rời khỏi liên kết
                $(this).off('mousemove');
            });

            // Xử lý nút đóng modal
            $('.close').click(function () {
                $modal.hide();
            });

            // Lưu cv
            $('.save_cv').on('click', function() {
                var img = $(this).find('img')
                var save = $(this)
                if(!getCookie('accessToken') || getCookie('type') == 1){
                    alert('Please login to your candidate account')
                    $('#login_uv_modal').show()
                    return
                }
                var id_cv = $(this).data('id');
                $.ajax({
                    url: URL_API_CANDI + "/SaveCV",
                    type: "POST",
                    data: JSON.stringify({ id: id_cv }),
                    contentType: "application/json",
                    headers: {
                    "Authorization": "Bearer " + getCookie('accessToken')
                    },
                    success: function(response) {
                        console.log(response.data)
                        if(response.data.type != 1){
                            alert('Lưu CV thành công');
                            save.addClass('bg-white')
                            img.attr('src','/images/icon/act_saved_cv.svg')
                        }
                        else{
                            alert('Hủy lưu cv thành công');
                            save.removeClass('bg-white')
                            img.attr('src','/images/icon/act_save_cv.svg')
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>
    <script>
        $('.cv-nav-item').click(function () {
            $('.cv-nav-item').removeClass('active');
            $(this).addClass('active');
        })
        const tocList = $('#toc-list');
        const headers = $('.blog-content h2, .blog-content h3, .blog-content h4');

        headers.each(function (index) {
            const header = $(this);
            const text = header.text();
            const id = 'header-' + index;
            header.attr('id', id);

            const listItem = $('<li></li>')
                .text(text)
                .click(function () {
                    $('html, body').animate({
                        scrollTop: $('#' + id).offset().top - 80
                    }, 500);
                });

            const tag = header.prop('tagName').toLowerCase();
            if (tag === 'h3') {
                listItem.css('margin-left', '20px');
            } else if (tag === 'h4') {
                listItem.css('margin-left', '40px');
            }

            tocList.append(listItem);
        });

        $('.news_toc_tit').click(function () {
            tocList.toggle();
            const toggleText = tocList.is(':visible') ? '[ẩn]' : '[hiện]';
            $('.news_toc_tit_hide').text(toggleText);
        });
        $('.blog-sh').click(function () {
            const content = $('.blog-content');
            const toc = $('.news_toc');
            if (content.is(':visible') && toc.is(':visible')) {
                content.slideUp();
                toc.slideUp();
                $(this).text('Hiện thêm');
            } else {
                content.slideDown();
                toc.slideDown();
                $(this).text('Thu gọn');
            }
        });
    </script>
    <script src="/js/custom_select.js"></script>
    <script>
        $('#cat_id').CustomSelect({
            placeholder: 'Chọn ngành nghề',
            searchPlaceholder: 'Tìm kiếm...'
        });
        $('#lang_id').CustomSelect({
            placeholder: 'Chọn ngôn ngữ',
            searchPlaceholder: 'Tìm kiếm...'
        });
        $.ajax({
            url: "http://localhost:3050/api/topcv1s/CV/getNganhCv",
            type: "POST",
            contentType: "application/json",
            success: function (response) {
                if (response.data.data.length > 0) {
                    // $('#cat_id').empty();
                    response.data.data.forEach(function (cat) {
                        $('#cat_id').append('<option id="' + cat.id + '" value="' + cat.alias + '">' + cat.name + '</option>');
                    });

                    $('#cat_id').trigger('update');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error: ', error);
            }
        });
        $.ajax({
            url: "http://localhost:3050/api/topcv1s/CV/getLangCv",
            type: "POST",
            contentType: "application/json",
            success: function (response) {
                if (response.data.data.length > 0) {
                    // $('#lang_id').empty();
                    response.data.data.forEach(function (cat) {
                        $('#lang_id').append('<option value="' + cat.alias + '">' + cat.name + '</option>');
                    });

                    $('#lang_id').trigger('update');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error: ', error);
            }
        });
        $('#lang_id').change(function () {
            alias = $(this).val();
            if (alias != 0 && alias) {
                window.location.href = `/cv-xin-viec-${alias}`;
            }
        })
        $('#cat_id').change(function () {
            alias = $(this).val();
            if (alias != 0 && alias) {
                window.location.href = `/cv-xin-viec-${alias}`;
            }
        })
        $(document).ready(function () {
            function removeBrOnSmallScreens() {
                if ($(window).width() <= 768) {
                    $('.cv-header-tit br').remove();
                }
            }

            removeBrOnSmallScreens();

            $(window).resize(function () {
                removeBrOnSmallScreens();
            });
        });
    </script>
</body>

</html>