<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dataToRender.data.usc_company %> tuyển dụng việc làm <%= dataToRender.data.new_title %></title>
    <link rel="icon" href="/images/img/icon_head.png">
    <link rel="stylesheet" href="/css/page_css/job_detail.css" as="style">
    <link rel="stylesheet" href="/css/common.css" as="style">
    <link rel="stylesheet" href="/css/header.css" as="style">
    <link rel="stylesheet" href="/css/footer.css" as="style">
    <link rel="stylesheet" href="/css/search_job2.css" as="style">
    <link rel="stylesheet" href="/css/custom_select2.css" as="style">
</head>

<body id="body">
    <%- include('layouts/header', {}); %>
    <div id="content" style="padding-top:84px">
        <%- include('layouts/search_job2', {}); %>
        <div class="container">
            <div class="breadcrumb d-flex flex-wr gap-1 align-c">
                <a href="/" class="color-main breadcrumb__item fw-700">Trang chủ</a>
                <img src="/images/icon/arrow-right.svg" width="14" height="14" alt="Next Breadcrumb Icon">
                <span class="breadcrumb__item active">Tuyển dụng <span class="breadcrumb_title"> <%= dataToRender.data.new_title %></span></span>
            </div>
        </div>
        <div class="container">
            <div class="job">
                <div class="job-lef">
                    <div class="job-header">
                        <h1 class="header-til fw-700 mb-3 fs-5">
                            <%= dataToRender.data.usc_company %> tuyển dụng việc làm <%= dataToRender.data.new_title %> - topcv1s
                        </h1>
                        <div class="header-gener d-flex justify-b mb-4">
                            <div class="header-salary d-flex gap-2 ">
                                <img src="/images/icon/header-salary.svg" width="42px" height="42px">
                                <div class="d-flex flex-dr-c justify-b">
                                    <span class="fw-700">Mức lương</span>
                                    <span><%= getMucLuong2(dataToRender.data.new_money_type,dataToRender.data.new_money_from,dataToRender.data.new_money_to,dataToRender.data.new_money) %></span>
                                </div>
                            </div>
                            <div class="header-loc d-flex gap-2 ">
                                <img src="/images/icon/header-loc.svg " width="42px" height="42px">
                                <div class="d-flex flex-dr-c justify-b">
                                    <span class="fw-700">Địa điểm</span>
                                    <span><%= findCity(parseInt(dataToRender.data.new_city_id, 10)) %></span>
                                </div>
                            </div>
                            <div class="header-exp d-flex gap-2">
                                <img src="/images/icon/header-exp.svg" width="42px" height="42px">
                                <div class="d-flex flex-dr-c justify-b">
                                    <span class="fw-700">Kinh nghiệm</span>
                                    <span><%= findExp(parseInt(dataToRender.data.new_exp)) %></span>
                                </div>
                            </div>
                        </div>
                        <div class="header-loc-mb bg-grey mb-3">
                            <img src="/images/icon/header-loc-2.svg">
                            <span><%= dataToRender.data.new_addr %></span>
                        </div>
                        <div class="header-deadline bg-grey mb-3">
                            <img src="/images/icon/deadline.svg">
                            <span>Hạn nộp hồ sơ: <%= convertTimestamp(parseInt(dataToRender.data.new_han_nop, 10)) %></span>
                        </div>
                        <div class="header-comp">
                            <div class="header-comp-top">
                                <div class="comp-logo-mb">
                                    <img class="rounded-circle" src="/images/img/company-ava.png" width="62" height="62" alt="Logo Company">
                                </div>
                                <a class="comp-title-mb fw-700" href="<%= dataToRender.data.usc_alias %>">
                                    <%= dataToRender.data.usc_company %>
                                </a>
                            </div>
                            <div class="header-comp-info">
                                <div class="header-comp-size d-flex align-c">
                                    <div class="d-flex align-c gap-2">
                                        <img src="/images/icon/Two-Person.svg" width="14" height="14" alt="Company Size">
                                        <span>Quy mô: <%= findCompSize(parseInt(dataToRender.data.usc_size)) %></span>
                                    </div>
                                </div>
                                <div class="header-comp-loc d-flex align-c">
                                    <div class="d-flex align-c gap-2">
                                        <img src="/images/icon/ph_map-pin-fill.svg" width="14" height="14" alt="Company Size">
                                        <span>Địa điểm: <%= dataToRender.data.usc_address !=''?dataToRender.data.usc_address:'Chưa cập nhật' %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-buttons">
                            <button class="bg-main apply-now apply-btn border-none d-flex align-c justify-c gap-2 <%= dataToRender.data.apply == true ? 'applied' : '' %>" news_id ="<%= dataToRender.data.new_id %>">
                                <img src="/images/icon/paper-flyer.png">
                                <span class="color-white fw-700 fs-6"><%= dataToRender.data.apply == true ? 'Đã ứng tuyển' : 'Ứng tuyển ngay' %></span>
                            </button>
                            <button class="save-news save_btn d-flex align-c gap-2 bg-white <%= dataToRender.data.SaveNew == true ? 'saved' : '' %>" news_id ="<%= dataToRender.data.new_id %>">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.36115 16.8257L9.36043 16.825C6.88289 14.5784 4.86669 12.7468 3.46404 11.0308C2.06687 9.32143 1.33081 7.78791 1.33081 6.14583C1.33081 3.46132 3.42552 1.375 6.10164 1.375C7.61799 1.375 9.08162 2.08348 10.0347 3.19397L10.4141 3.63605L10.7936 3.19397C11.7467 2.08348 13.2103 1.375 14.7266 1.375C17.4028 1.375 19.4975 3.46132 19.4975 6.14583C19.4975 7.78791 18.7614 9.32143 17.3643 11.0308C15.9616 12.7468 13.9454 14.5784 11.4679 16.825L11.4671 16.8257L10.4141 17.7843L9.36115 16.8257Z" stroke="#00b14f"/>
                                </svg>
                                <span class="color-main fw-700 fs-6"><%= dataToRender.data.SaveNew == true ? 'Đã lưu tin' : 'Lưu tin' %></span>
                            </button>
                        </div>
                    </div>
                    <div class="switch-tab color-main fs-5 fw-600">
                        Thông tin
                    </div>
                    <div class="job-body">
                        <div class="job-detail">
                            <h2 class="job-body-tit fw-700 fs-5">
                                Chi tiết tuyển dụng
                            </h2>
                            <div class="job-specific-mb">
                                <div class="job-specific__item">
                                    <div class="job-specific__item--img">
                                        <img src="/images/icon/leaderboard.svg" width="42" height="42" alt="Level Icon">
                                    </div>
                                    <div class="job-specific__item--content">
                                        <span class="fw-700">Cấp bậc</span>
                                        <span><%= findLevel(parseInt(dataToRender.data.new_cap_bac)) %></span>
                                    </div>
                                </div>
                                <div class="job-specific__item">
                                    <div class="job-specific__item--img">
                                        <img src="/images/icon/header-exp.svg" width="42" height="42" alt="Experience Icon">
                                    </div>
                                    <div class="job-specific__item--content">
                                        <span class="fw-700">Bằng cấp</span>
                                        <span><%= findEdu(parseInt(dataToRender.data.new_bang_cap)) %></span>
                                    </div>
                                </div>
                                <div class="job-specific__item">
                                    <div class="job-specific__item--img">
                                        <img src="/images/icon/job-apply-number.svg" width="42" height="42" alt="Number Human Icon">
                                    </div>
                                    <div class="job-specific__item--content">
                                        <span class="fw-700">Số lượng tuyển</span>
                                        <span><%= dataToRender.data.new_so_luong %> người</span>
                                    </div>
                                </div>
                                <div class="job-specific__item">
                                    <div class="job-specific__item--img">
                                        <img src="/images/icon/suitcase-exp.svg" width="42" height="42" alt="Type Work Icon">
                                    </div>
                                    <div class="job-specific__item--content">
                                        <span class="fw-700">Hình thức làm việc</span>
                                        <span><%= findTypeWork(dataToRender.data.new_hinh_thuc) %></span>
                                    </div>
                                </div>
                                <div class="job-specific__item">
                                    <div class="job-specific__item--img">
                                        <img src="/images/icon/One-Person.svg" width="42" height="42" alt="Gender Icon">
                                    </div>
                                    <div class="job-specific__item--content">
                                        <span class="fw-700">Giới tính</span>
                                        <span><%= findGender(dataToRender.data.new_gioi_tinh) %></span>
                                    </div>
                                </div>
                            </div>
                            <div class="job-des">
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">
                                        Mô tả công việc
                                    </div>
                                    <div class="ws">
                                        <%= dataToRender.data.new_mota != '' && dataToRender.data.new_mota ? dataToRender.data.new_mota : 'Đang cập nhật...'  %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">Yêu cầu ứng viên </div>
                                    <div class="ws">
                                        <%= dataToRender.data.new_yeucau != '' && dataToRender.data.new_yeucau ? dataToRender.data.new_yeucau : 'Đang cập nhật...'  %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">Quyền lợi</div>
                                    <div class="ws">
                                        <%= dataToRender.data.new_quyenloi != '' && dataToRender.data.new_quyenloi ? dataToRender.data.new_quyenloi : 'Đang cập nhật...'  %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">Hồ sơ yêu câu </div>
                                    <div class="ws">
                                        <%= dataToRender.data.new_ho_so != '' && dataToRender.data.new_ho_so ? dataToRender.data.new_ho_so : 'Đang cập nhật...'  %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">Thời gian thử việc </div>
                                    <div class="ws">
                                        <%= dataToRender.data.new_thuviec != '' && dataToRender.data.new_thuviec ? dataToRender.data.new_thuviec : 'Đang cập nhật...'  %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">Hoa hồng </div>
                                    <div class="ws">
                                        <%= dataToRender.data.new_hoahong != '' && dataToRender.data.new_hoahong ? dataToRender.data.new_hoahong : 'Đang cập nhật...'  %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <div class="fw-700 mb-2">Địa điểm làm việc</div>
                                    <div>
                                        <%= dataToRender.data.new_addr %>
                                    </div>
                                </div>
                                <div class="job-des__item">
                                    <h3 class="fw-700 mb-2" style="font-size: 16px;">Cách thức ứng tuyển</h3>
                                    <div>Ứng viên nộp hồ sơ trực tuyến bằng cách bấm Ứng tuyển ngay dưới đây.<br></div>
                                </div>
                            </div>
                        </div>
                        <div class="similar-job">
                            <h2 class="job-body-tit fw-700 fs-5">
                                Việc làm liên quan
                            </h2>
                            <div class="job-list">
                                <% if (dataToRender.data.viecLamTuongTu && dataToRender.data.viecLamTuongTu.length > 0) { %>
                                    <% dataToRender.data.viecLamTuongTu.forEach(function(item) { %>
                                        <div class="job-item">
                                            <div class="job-avar">
                                                <img class="rounded-circle outline_main" onerror="this.onerror=null;this.src='/images/img/default_logo-min_11zon.webp';" src="<%= item.usc_logo %>" loading="lazy" width="117" height="117" alt="Logo Company">
                                            </div>
                                            <div class="job-body-2 gap-2">
                                                <div class="job-tit gap-2">
                                                    <div class="job-tit-all">
                                                        <h3 class="mb-2">
                                                            <a href="<%= item.new_alias %>-<%= item.new_id %>" class="job-name" data-tooltip="<%= item.new_title %>"><%= item.new_title %> </a>
                                                        </h3>
                                                        <div>
                                                            <a href="<%= item.usc_alias %>" class="job-comp" data-tooltip="<%= item.usc_company %>"><%= item.usc_company %></a>
                                                        </div>
                                                    </div>
                                                    <div class="job-salary">
                                                        <%= getMucLuong2(item.new_money_type,item.new_money_from,item.new_money_to,item.new_money) %>
                                                    </div>
                                                </div>
                                                <div class="job-info">
                                                    <div class="job-label">
                                                        <label class="address">
                                                            <%= findCity(parseInt(item.new_city, 10)) %>
                                                        </label>
                                                        <label class="remain_time">
                                                            <% const deadline = checkDeadline(parseInt(item.new_han_nop, 10)); %>
                                                            <% if (deadline.value > 0) { %>
                                                                Còn <span class="fw-600"><%= deadline.value %> <%= deadline.type %> để ứng tuyển</span>
                                                            <% } else { %>
                                                                Đã hết hạn
                                                            <% } %>  
                                                        </label>
                                                        <label class="last_updated">
                                                            <% const elapsedTime = checkElapsedTime (parseInt(item.new_update_time, 10)); %>
                                                            Cập nhật <%= elapsedTime.value %> <%= elapsedTime.type %> trước</span>   
                                                        </label>
                                                    </div>
                                                    <div class="job-act">
                                                        <button class="job-apply apply-btn <%= item.checkApply == true ? 'applied' : '' %>" news_id ="<%= item.new_id %>">
                                                            <span><%= item.checkApply == true ? 'Đã ứng tuyển' : 'Ứng tuyển' %></span>
                                                        </button>
                                                        <button class="job-save save_btn <%= item.checkSave == true ? 'saved' : '' %>" news_id ="<%= item.new_id %>" data-tooltip='Lưu tin'>
                                                            <svg width="15.75" height="21.203" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M12.7843 17.0976L12.7826 17.0963C12.196 16.6503 11.384 16.6503 10.7974 17.0963L6.4675 20.3862L6.46739 20.386L6.45674 20.3946C6.28583 20.532 6.05282 20.5633 5.85173 20.4758C5.6554 20.3904 5.52113 20.2055 5.5 19.9933V5.96659C5.5353 5.2794 5.84161 4.63405 6.35205 4.17215C6.86526 3.70774 7.54246 3.46713 8.23364 3.50362L8.24681 3.50431H8.26H15.26H15.2714L15.2828 3.50379C15.9782 3.47202 16.6572 3.72039 17.168 4.19331C17.6769 4.66454 17.9764 5.3195 18 6.01248V19.9856C17.9725 20.1876 17.8424 20.3617 17.6553 20.445C17.4631 20.5305 17.2399 20.5072 17.0696 20.384L12.7843 17.0976Z" stroke="#00b14f"/>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <p>Đang cập nhật...</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-rig">
                    <div class="comp-detail">
                        <div class="comp-til mb-3">
                            <a href="<%= dataToRender.data.usc_alias %>">
                                <img class="rounded-circle outline_main" src="<%= dataToRender.data.usc_logo %>" onerror="this.onerror=null;this.src='/images/img/default_logo.jpg';"width="80px" height="80px">
                            </a>
                            <a class="fw-700 fs-5" href="<%= dataToRender.data.usc_alias %>">
                                <span><%= dataToRender.data.usc_company %></span>
                            </a>             
                        </div>
                        <div class="comp-size">
                            <img src="/images/icon/Two-Person.svg" width="14px" height="14px">
                            <span>Quy mô: <%= findCompSize(parseInt(dataToRender.data.usc_size)) %></span>
                        </div>
                        <div class="comp-loc">
                            <img src="/images/icon/comp-loc.svg" width="14px" height="14px">
                            <span>Địa điểm: <%= dataToRender.data.usc_address !=''?dataToRender.data.usc_address:'Chưa cập nhật' %></span>
                        </div>
                    </div>
                    <div class="job-specific">
                        <div class="job-specific__item">
                            <div class="job-specific__item--img">
                                <img src="/images/icon/leaderboard.svg" width="42" height="42" alt="Level Icon">
                            </div>
                            <div class="job-specific__item--content">
                                <span class="fw-700">Cấp bậc</span>
                                <span><%= findLevel(parseInt(dataToRender.data.new_cap_bac)) %></span>
                            </div>
                        </div>
                        <div class="job-specific__item">
                            <div class="job-specific__item--img">
                                <img src="/images/icon/header-exp.svg" width="42" height="42" alt="Experience Icon">
                            </div>
                            <div class="job-specific__item--content">
                                <span class="fw-700">Bằng cấp</span>
                                <span><%= findEdu(parseInt(dataToRender.data.new_bang_cap)) %></span>
                            </div>
                        </div>
                        <div class="job-specific__item">
                            <div class="job-specific__item--img">
                                <img src="/images/icon/job-apply-number.svg" width="42" height="42" alt="Number Human Icon">
                            </div>
                            <div class="job-specific__item--content">
                                <span class="fw-700">Số lượng tuyển</span>
                                <span><%= dataToRender.data.new_so_luong %> người</span>
                            </div>
                        </div>
                        <div class="job-specific__item">
                            <div class="job-specific__item--img">
                                <img src="/images/icon/suitcase-exp.svg" width="42" height="42" alt="Type Work Icon">
                            </div>
                            <div class="job-specific__item--content">
                                <span class="fw-700">Hình thức làm việc</span>
                                <span><%= findTypeWork(dataToRender.data.new_hinh_thuc) %></span>
                            </div>
                        </div>
                        <div class="job-specific__item">
                            <div class="job-specific__item--img">
                                <img src="/images/icon/One-Person.svg" width="42" height="42" alt="Gender Icon">
                            </div>
                            <div class="job-specific__item--content">
                                <span class="fw-700">Giới tính</span>
                                <span><%= findGender(dataToRender.data.new_gioi_tinh) %></span>
                            </div>
                        </div>
                    </div>
                    <div class="job-category">
                        <div class="category-top">
                            <div class="category-tit fw-700 fs-5">Ngành nghề</div>
                            <div class="category-label">
                                <% if (dataToRender.data.new_real_cate && dataToRender.data.new_real_cate.length > 0) { %>
                                    <% dataToRender.data.new_real_cate.forEach(function(item) { %>
                                        <label><%= findCate(parseInt(item.id, 10)) %></label>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>
                        <div class="category-bot">
                            <div class="category-tit fw-700 fs-5">Khu vực</div>
                            <div class="category-label">
                                <label><%= findCity(parseInt(dataToRender.data.new_city_id, 10)) %></label>
                            </div>
                        </div>
                    </div>
                    <div class="job-rec bg-white">
                        <div class="rec-title pb-4">
                            <span class="fw-700 fs-4">Gợi ý việc làm phù hợp</span>
                        </div>
                        <div> Chưa có việc làm phù hợp</div>
                        <div class="rec-body" style="display: none;">
                            <div class="rec-list d-flex flex-dr-c gap-3">
                                <div class="rec-unit">
                                    <div class="rec-unit-top d-flex justify-b">
                                        <img class="rec-unit-top-ava" src="/images/img/company-ava.png" width="44px" height="44px">
                                        <div class="d-flex flex-dr-c mb-4">
                                            <span class="fw-700 color-main">Nhân viên Thiết kế </span>
                                            <span>CÔNG TY CP SCOTS ENGLISH</span>
                                        </div>
                                        <img class="bookmark-icon" src="/images/icon/Bookmark.svg">
                                    </div>
                                    <div class="rec-unit-bot d-flex justify-b ">
                                        <div class="gap-2 d-flex">
                                            <span class="bg-grey">Hà Nội</span>
                                            <span class="bg-grey">8-10 Triệu</span>
                                        </div>
                                        <img class="trash-icon" src="/images/icon/trash-bin.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rec-see-more text-c" style="display: none;">
                            <span class="color-main fw-700">Xem thêm công việc</span>
                            <img src="/images/icon/long-arrow-right.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_appl" id="modal_appl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span class="fw-700">Ứng tuyển: </span>
                    <span class="fw-700 color-main"> <%= dataToRender.data.new_title %></span>
                </div>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div class="modal-body-title">
                    <img src="/images/icon/letter_icon.svg" width="20" height="20" alt="Letter Icon">
                    <span>Thư giới thiệu</span>
                </div>
                <div class="att_line">Viết thư giới thiệu sẽ khiến nhà tuyển dụng ấn tượng hơn</div>
                <textarea id="intro_letter"></textarea>
            </div>
            <div class="modal-footer">
                <button class="cancel_btn">Hủy</button>
                <button class="apply_conf_btn">Ứng tuyển</button>
            </div>
        </div>
    </div>
    <%- include('layouts/footer', {}); %>
    <script src="/js/custom_select.js"></script>
    <script src="/js/search2.js"></script>
    <script>
        $(document).ready(function () {
            $('.cv-item-act').click(function (event) {
                event.stopPropagation();
                $('.cv-item-more').hide();
                $(this).closest('.cv-item-info').find('.cv-item-more').css('display', 'flex');
            });

            $(document).click(function () {
                $('.cv-item-more').hide();
            });

            $('.cv-item-more').click(function (event) {
                event.stopPropagation();
            });
            function toolTip(ele) {
                $(ele).each(function() {
                    var $this = $(this);
                    var tooltipText = $this.attr('data-tooltip');
                    var $tooltipContent = $('<div class="tooltip-content"></div>').text(tooltipText);
                    $this.append($tooltipContent);
                    $this.on('mouseenter', function() {
                        $tooltipContent.css('opacity', 1);
                    });
                    $this.on('mouseleave', function() {
                        $tooltipContent.css('opacity', 0);
                    });
                });
            }
            toolTip('.job-name');
            toolTip('.job-comp');
            toolTip('.job-save');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.nav-item').hover(function () {
                $(this).children('.nav-dropdown').stop(true, true).fadeIn(300);
            }, function () {
                $(this).children('.nav-dropdown').stop(true, true).fadeOut(300);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.save_btn').click(function(){
                accessToken = getCookie('accessToken');
                type = getCookie('type')
                $('.save_btn').removeClass('target');
                if(!accessToken || accessToken == '' || type == 1){
                    alert('Vui lòng đăng nhập tài khoản ứng viên để thực hiện thao tác');
                    $('#login_uv_modal').show();
                } else {
                    $(this).addClass('target');
                    var news_id = $(this).attr('news_id');
                    $.ajax({
                        url: 'http://localhost:3050/api/topcv1s/candidate/SaveNew',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: {
                            "Authorization": "Bearer " + getCookie('accessToken')
                        },
                        data: JSON.stringify({
                            id_tin: news_id
                        }),
                        success: function(response) {
                            console.log(response);
                            if(response.data.result_save == 1){
                                alert('Lưu tin thành công');
                                $('.save_btn.target').addClass('saved');
                                $('.save_btn.target').find('span').text('Đã lưu tin');
                            }else{
                                alert('Hủy lưu tin thành công');
                                $('.save_btn.target').removeClass('saved');
                                $('.save_btn.target').find('span').text('Lưu tin');
                            }
                        },
                        error: function(error) {
                            if(error.responseJSON.message) {
                                alert(error.responseJSON.message);
                            } else{
                                alert('Có lỗi xảy ra, vui lòng thử lại');
                            }
                        }
                    });
                }
            })
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }
            $(".apply-btn").click(function() {
                accessToken = getCookie('accessToken');
                type = getCookie('type')
                $(".apply-btn").removeClass('target');
                $(this).addClass('target');
                if(!accessToken || accessToken == '' || type == 1 ){
                    alert('Vui lòng đăng nhập tài khoản ứng viên để thực hiện thao tác');
                    $('#login_uv_modal').show();
                }
                else if(!$(this).hasClass('applied')){
                    var news_id = $(this).attr('news_id');
                    $('.apply_conf_btn').attr('news_id', news_id);
                    $("#modal_appl").css("display", "block");
                }
            });

            $(".close").click(function() {
                $("#modal_appl").css("display", "none");
            });
            $(".cancel_btn").click(function() {
                $("#modal_appl").css("display", "none");
            });
            $(window).click(function(event) {
                if ($(event.target).is("#modal_appl")) {
                    $("#modal_appl").css("display", "none");
                }
            });
            $('.apply_conf_btn').click(function(){
                var letter = $('#intro_letter').val();
                var news_id = $(this).attr('news_id');
                $.ajax({
                    url: 'http://localhost:3050/api/topcv1s/candidate/ApplyJob',
                    type: 'POST',
                    contentType: 'application/json',
                    headers: {
                        "Authorization": "Bearer " + getCookie('accessToken')
                    },
                    data: JSON.stringify({
                        id: news_id,
                        lt: letter
                    }),
                    success: function(response) {
                        console.log(response);
                        alert('Ứng tuyển thành công');
                        $('.apply-btn.target').addClass('applied');
                        $('.apply-btn.target').find('span').text('Đã ứng tuyển');
                        $('.apply-btn').removeClass('target');
                        $("#modal_appl").css("display", "none");
                    },
                    error: function(error) {
                        if(error.responseJSON.message){
                            alert(error.responseJSON.message);
                        }
                        else if (error.responseJSON.error.message){
                            alert(error.responseJSON.error.message);
                        }
                        else {
                            alert('Có lỗi xảy ra, vui lòng thử lại');
                        }
                        $("#modal_appl").css("display", "none");
                    }
                });
            })
            $('.search-btn').click(function() {
                var keyword = $('#s_key').val();
                var cit_id = $('#cit_id').val();
                var exp_id = $('#exp_id').val();
                var sal_id = $('#sal_id').val();
                if (keyword) {
                    var searchKeywords = localStorage.getItem('searchKeywords');
                    if (searchKeywords) {
                        searchKeywords = JSON.parse(searchKeywords);
                        if (!searchKeywords.includes(keyword)) {
                            searchKeywords.push(keyword);
                            localStorage.setItem('searchKeywords', JSON.stringify(searchKeywords));
                        }
                    } else {
                        searchKeywords = [keyword];
                        localStorage.setItem('searchKeywords', JSON.stringify(searchKeywords));
                    }
                }
                var url = '/tim-viec-lam';

                if (keyword && getCategoryIdByName(keyword) && cit_id == 0) {
                    var convertCat = convertToUrl(keyword);
                    url += '-' + convertCat;
                } else if (keyword && findAliasByTag(keyword) && cit_id == 0) {
                    var convertCat = findAliasByTag(keyword);
                    url += '-' + convertCat;
                } else if (keyword && findAliasByTag(keyword) && cit_id != 0) {
                    var convertCat = convertToUrl(keyword);
                    var convertCit = convertToUrl(getCityNameById(parseInt(cit_id)));
                    url += '-' + convertCat + '-tại-' + convertCit;
                } else if (keyword && getCategoryIdByName(keyword) && cit_id != 0) {
                    var convertCat = convertToUrl(keyword);
                    var convertCit = convertToUrl(getCityNameById(parseInt(cit_id)));
                    url += '-' + convertCat + '-tại-' + convertCit;
                } else if (!keyword && !getCategoryIdByName(keyword) && cit_id != 0) {
                    var convertCit = convertToUrl(getCityNameById(parseInt(cit_id)));
                    url += '-tại-' + convertCit;
                } else if (keyword && !getCategoryIdByName(keyword) && cit_id != 0) {
                    var convertCit = convertToUrl(getCityNameById(parseInt(cit_id)));
                    url += '-tại-' + convertCit + '?name=' + encodeURIComponent(keyword);
                }

                var queryParams = [];
                if (keyword && !getCategoryIdByName(keyword) && !findAliasByTag(keyword) && cit_id == 0) {
                    queryParams.push('name=' + keyword);
                }
                if (exp_id ) {
                    queryParams.push('exp=' + exp_id);
                }
                if (sal_id ) {
                    queryParams.push('salary=' + sal_id);
                }
                if (queryParams.length > 0) {
                    url += '?' + queryParams.join('&');
                }
                window.location.href = url;
            });
        })
    </script>
</body>

</html>