<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, follow" />
    <meta name="google-site-verification" content="lwyGMjMCHXSuJXWOc3iy1MG_Hd6yRBARF5H8NuMxUPg" />

    <meta name="description" content="Đăng nhập tài khoản thành viên tại TopCv1s hôm nay để tìm việc làm hiệu quả và tuyển dụng ứng viên chất lượng. Trang web số 1 đi đầu thị trường việc làm, cung cấp top việc làm chất lượng cho người tìm việc và danh sách ứng viên tiềm năng cho nhà tuyển dụng. Truy cập để nhận gợi ý mới nhất cho bạn.">
    <meta name="twitter:card" content="Đăng Nhập Hôm Nay, Tuyển Dụng Và Tìm Việc Hiệu Quả Ngay">
    <meta name="twitter:site" content="TopCv1s">
    <meta name="twitter:title" content="Đăng Nhập Hôm Nay, Tuyển Dụng Và Tìm Việc Hiệu Quả Ngay">
    <meta name="twitter:description" content="Đăng nhập tài khoản thành viên tại TopCv1s hôm nay để tìm việc làm hiệu quả và tuyển dụng ứng viên chất lượng. Trang web số 1 đi đầu thị trường việc làm, cung cấp top việc làm chất lượng cho người tìm việc và danh sách ứng viên tiềm năng cho nhà tuyển dụng. Truy cập để nhận gợi ý mới nhất cho bạn.">
    <meta property="og:site_name" content="TopCv1s">
    <meta property="og:image" content="http://localhost:9020/images/img/icon_head.png">
    <meta property="og:url" content="http://localhost:9020<%= url %>">
    <meta property="og:type" content="website">
    <title>Đăng Nhập Hôm Nay, Tuyển Dụng Và Tìm Việc Hiệu Quả Ngay</title>
    <link rel="canonical" href="http://localhost:9020<%= url %>">
    <link rel="icon" href="/images/img/icon_head.png">
    <link rel="preload" href="/css/page_css/login_page.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/page_css/before_login/ntd/login_ntd.css">
    </noscript>

    <link rel="preload" href="/css/common.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/common.css">
    </noscript>

    <link rel="preload" href="/css/header.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stPylesheet" href="/css/header.css">
    </noscript>

    <link rel="preload" href="/css/footer.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/css/footer.css">
    </noscript>
    <script src="/js/jquery.min.js"></script>
    <script
    type="application/ld+json">{"@context": "https://schema.org","@type": "ItemPage","url": "http://localhost:9020<%= url %>","mainEntityOfPage": "Trang Tin Tức Việc Làm Số 1 - Tìm Việc, Tuyển Dụng Hiệu Quả, Miễn Phí"}</script>
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"EmploymentAgency","name":"topcv1s.com","alternateName":"Tìm Việc Nhanh, Tuyển Dụng Hiệu Quả | TopCv1s.com","logo":"http://localhost:9020/images/img/icon_head.png","image":"http://localhost:9020/images/img/icon_head.png","url":"http://localhost:9020"}</script>
    <script
        type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://localhost:9020/"}</script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "DesPage",
            "url": "http://localhost:9020<%= url %>",
            "title": "Đăng Nhập Hôm Nay, Tuyển Dụng Và Tìm Việc Hiệu Quả Ngay",
            "description": "Đăng nhập tài khoản thành viên tại TopCv1s hôm nay để tìm việc làm hiệu quả và tuyển dụng ứng viên chất lượng. Trang web số 1 đi đầu thị trường việc làm, cung cấp top việc làm chất lượng cho người tìm việc và danh sách ứng viên tiềm năng cho nhà tuyển dụng. Truy cập để nhận gợi ý mới nhất cho bạn.",
            "thumbnail": "http://localhost:9020/images/img/default_logo.jpg"
        } 
    </script>
</head>

<body>
    <%- include('layouts/header', {}); %>
    <div id="content" style="padding-top:80px">
        <div class="login-content">
            <h1 class="page-title">Đăng nhập tài khoản nhanh tại đây</h1>
            <div class="login-box d-flex">
                <div class="login-uv bg-white">
                    <img class="login-img" width="384" height="250" src="/images/img/bg_regis_ntd.svg">
                    <div class="login-act">
                        <ul class="login-title fs-5">
                            <li>100.000+ Công việc mơ ước</li>
                            <li>365+ Mẫu CV chuyên nghiệp</li>
                            <li>22+ Bộ đề câu hỏi tuyển dụng</li>
                        </ul>
                        <a class="login-btn fs-5 color-white fw-700 bg-main cursor-p" href="/dang-nhap-ung-vien">
                            ĐĂNG NHẬP ỨNG VIÊN
                        </a>
                    </div>
                </div>
                <div class="login-ntd bg-white">
                    <img class="login-img" width="384" height="250" src="/images/img/bg_regis_uv.svg">
                    <div class="login-act">
                        <ul class="login-title fs-5">
                            <li>Đăng tin tuyển dụng miễn phí</li>
                            <li>Đăng tin không giới hạn</li>
                            <li>Biểu mẫu nhân sự chuyên nghiệp</li>
                        </ul>
                        <a class="login-btn fs-5 color-white fw-700 bg-main cursor-p" href="dang-nhap-nha-tuyen-dung">
                            ĐĂNG NHẬP NHÀ TUYỂN DỤNG
                        </a>
                    </div>
                </div>
                <div class="login-uv-mb text-c">
                    <a href="/dang-nhap-ung-vien">
                        <img class="bg-main rounded-circle" width="100" height="100" alt="uv Icon" src="/images/icon/uvicon.svg">
                    </a>
                    <p class="fs-4 color-white">
                        <a href="/dang-nhap-ung-vien">Ứng viên</a>
                    </p>
                </div>
                <div class="login-ntd-mb text-c">
                    <a href="/dang-nhap-nha-tuyen-dung">
                        <img class="bg-main rounded-circle" width="100" height="100" alt="ntd Icon" src="/images/icon/ntdicon.svg">
                    </a>
                    <p class="fs-4 color-white">
                        <a href="/dang-nhap-nha-tuyen-dung">Nhà tuyển dụng</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <%- include('layouts/footer', {}); %>
    <script>
        $(document).ready(function() {
            $('.nav-item').hover(function() {
                $(this).children('.nav-dropdown').stop(true, true).fadeIn(300);
            }, function() {
                $(this).children('.nav-dropdown').stop(true, true).fadeOut(300);
            });
        });
    </script>
    
    
</body>

</html>