<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="lwyGMjMCHXSuJXWOc3iy1MG_Hd6yRBARF5H8NuMxUPg" />

    <meta name="description" content="<%= dataToRender.data.new_des %>">
    <meta name="twitter:card" content="><%= capitalizeFirstLetter(dataToRender.data.new_title) %>">
    <meta name="twitter:site" content="TopCv1s">
    <meta name="twitter:title" content="><%= capitalizeFirstLetter(dataToRender.data.new_title) %>">
    <meta name="twitter:description" content="<%= dataToRender.data.new_des %>">
    <meta property="og:site_name" content="TopCv1s">
    <meta property="og:image" content="http://localhost:9020/images/img/icon_head.png">
    <meta property="og:url" content="http://localhost:9020<%= url %>">
    <meta property="og:type" content="website">
    <title><%= capitalizeFirstLetter(dataToRender.data.new_title) %></title>
    <link rel="icon" href="/images/img/icon_head.png">
    <link rel="canonical" href="http://localhost:9020<%= url %>">
    <link rel="preload" href="/css/page_css/news_detail.css" as="style">
    <link rel="stylesheet" href="/css/page_css/news_detail.css" as="style">
    <link rel="preload" href="/css/common.css" as="style">
    <link rel="stylesheet" href="/css/common.css" as="style">
    <link rel="preload" href="/css/header.css" as="style">
    <link rel="stylesheet" href="/css/header.css" as="style">
    <link rel="preload" href="/css/ck_blog.css" as="style">
    <link rel="stylesheet" href="/css/ck_blog.css" as="style">

    <!-- <script src="/js/jquery.min.js"></script> -->
    <script
    type="application/ld+json">{"@context": "https://schema.org","@type": "ItemPage","url": "http://localhost:9020<%= url %>","mainEntityOfPage": "Trang Tin Tức Việc Làm Số 1 - Tìm Việc, Tuyển Dụng Hiệu Quả, Miễn Phí"}</script>
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"EmploymentAgency","name":"topcv1s.com","alternateName":"Tìm Việc Nhanh, Tuyển Dụng Hiệu Quả | TopCv1s.com","logo":"http://localhost:9020/images/img/icon_head.png","image":"http://localhost:9020/images/img/icon_head.png","url":"http://localhost:9020"}</script>
    <script
        type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://localhost:9020/"}</script>
    <script
        type="application/ld+json">
        {"@context": "https://schema.org","@type": "DesPage","url": "http://localhost:9020<%= url %>","title": "<%= capitalizeFirstLetter(dataToRender.data.new_title) %>","description": "<%- dataToRender.data.new_des %>","thumbnail": "<%= dataToRender.data.new_picture ? dataToRender.data.new_picture : "http://localhost:9020/images/img/default_logo.jpg" %>"}
    </script>    
</head>

<body id="body">
    <%- include('layouts/header', {}); %>
        <div id="content" style="padding-top: 80px">
            <div class="news">
                <div class="container"></div>
                <div class="container bg-white">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item">
                            <a href="">TopCv1s Blog</a>
                        </div>
                        <div class="breadcrumb-item">
                            <% const cate = findCateNewsById(dataToRender.data.new_category_id) %>
                            <a href="/blog-<%= cate.cat_link %>"><%= cate.cat_name %></a>
                        </div>
                    </div>
                    <div class="d-flex news_cnt">
                        <div class="news_lef">
                            <div class="news_detail">
                                <h1 class="news_name ck-content">
                                    <%= dataToRender.data.new_title %>
                                </h1>
                                <div class="news_toc mb">
                                    <div class="news_toc_tit">
                                        <span class="news_toc_tit_name">Mục lục</span>
                                        <span class="news_toc_tit_hide">[ẩn]</span>
                                    </div>
                                    <ul class="toc-list">
        
                                    </ul>
                                </div>
                                <div class="news_info">
                                    <div class="news_time">
                                        <img src="/images/icon/new_time-line.svg" width="16" height="16" alt="Time Ling"> <%= convertTimestampDetail(parseInt(dataToRender.data.new_date_last_edit)) %>
                                    </div>
                                    <div class="news_type">
                                        <img src="/images/icon/hugeicons_folder-02.svg" width="16" height="16" alt="Type Icon"> <%= cate.cat_name %> %>
                                    </div>
                                    <div class="news_aut">
                                        <div class="news_aut-avar rounded-circle">
                                            <img class="rounded-circle" onerror="this.onerror=null;this.src='/images/icon/noun-author.svg';" src="<%= dataToRender.data.adm_picture %>" width="16" height="16" alt="Author news">
                                        </div>
                                        <div class="news_aut-name">
                                            <%= dataToRender.data.adm_name %>
                                        </div>
                                    </div>
                                </div>
                                <div class="news_des">
                                    <%- dataToRender.data.new_teaser %>
                                </div>
                                <div class="news_thumbnail">
                                    <!-- <img src="<%= dataToRender.data.new_picture %>" class="w-100" alt="<%= dataToRender.data.new_title %>"> -->
                                    <!-- <div class="news_thumbnail_des">
                                        Tìm Hiểu Học Viện Kỹ Thuật Quân Sự
                                    </div> -->
                                </div>
                                <div class="news_detail ck-content">
                                    <%- dataToRender.data.new_description %>
                                </div>
                            </div>
    
                        </div>
                        <div class="news_rig">
                            <div class="news_toc pc">
                                <div class="news_toc_tit">
                                    <span class="news_toc_tit_name">Mục lục</span>
                                    <span class="news_toc_tit_hide">[ẩn]</span>
                                </div>
                                <ul class="toc-list">
    
                                </ul>
                            </div>
                            <div class="news_search d-flex w-100">
                                <input placeholder="Nhập từ khóa cần tìm">
                                <button class="news_search_btn">
                                    <img src="/images/icon/search_white.svg" width="30" height="30" alt="Search Icon">
                                </button>
                            </div>
                            <div class="news_job">
                                <div class="news-head">
                                    <div class="news-tit">
                                        VIỆC LÀM ĐỀ XUẤT CHO BẠN
                                    </div>
                                </div>
                                <div class="list_job">
                                    <% if (dataToRender.vllq && dataToRender.vllq.length > 0) { %>
                                        <% dataToRender.vllq.forEach(function(item) { %>
                                            <div class="job_item">
                                                <div class="job_head">
                                                    <div class="job_info">
                                                        <div class="job_logo">
                                                            <a href="/<%= item.usc_alias %>"></a>
                                                                <img id="logo-img" src="/images/img/default_logo-min_11zon.webp" alt="Logo Company" width="70" height="70">
                                                            </a>
                                                        </div>
                                                        <div class="job_tit">
                                                            <div class="job_name">
                                                                <a href="/<%= item.new_alias %>-<%= item.new_id %>"> 
                                                                    <%= item.new_title %>
                                                                </a>
                                                            </div>
                                                            <div class="job_comp">
                                                                <a href="/<%= item.usc_alias %>">
                                                                    <%= item.usc_company %>
                                                                </a>                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="job_save">
                                                        <img src="/images/icon/Bookmark.svg" width="24" height="24" alt="Save Job Icon">
                                                    </div>
                                                </div>
                                                <div class="job_label">
                                                    <label><%= findCity(parseInt(item.new_city)) %></label>
                                                    <label><%= getMucLuong(item.new_money_type,item.new_money_from,item.new_money_to,item.new_money_to) %></label>
                                                </div>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="news_recent">
                                <div class="news-head">
                                    <div class="news-tit">
                                        BÀI ĐĂNG GẦN ĐÂY
                                    </div>
                                </div>
                                <ul class="new_list">
                                    <% if (dataToRender.blogNew && dataToRender.blogNew.length > 0) { %>
                                        <% dataToRender.blogNew.forEach(function(item) { %>
                                            <li>
                                                <a href="/<%= item.new_title_rewrite %>" target="_blank">
                                                    <%= item.new_title %>
                                                </a>
                                            </li>
                                        <% }); %>
                                        <% } else { %>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="myModal" class="modal">
            <div id="modal-body"></div>
        </div>
        <link rel="stylesheet" href="/css/footer.css" as="style">
        <%- include('layouts/footer', {}); %>
            <script>
                $(document).ready(function() {
                    $(".nav-item").hover(
                        function() {
                            $(this).children(".nav-dropdown").stop(true, true).fadeIn(300);
                        },
                        function() {
                            $(this).children(".nav-dropdown").stop(true, true).fadeOut(300);
                        }
                    );
                });
            </script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const isMobile = window.innerWidth < 1024; // Xác định thiết bị di động dựa trên kích thước màn hình
                    const logoImg = document.getElementById("logo-img");
            
                    if (isMobile) {
                        logoImg.setAttribute("loading", "lazy");
                    } else {
                        logoImg.setAttribute("loading", "eager");
                    }
                });
            </script>
            <script>
                $(document).ready(function() {
                    $('.news_detail a').each(function() {
                        var link = $(this).attr('href');
                        if (link && (link.endsWith('.docx') || link.endsWith('.pdf') || link.endsWith('.xlsx'))) {
                            $(this).text('Tải xuống');
                            $(this).attr('link-active', '0');
                        }
                    });
                    let timer;
                    let $modal = $('#myModal');
                    let $modalBody = $('#modal-body');

                    $('.news_detail a').hover(function(e) {
                        const $link = $(this);
                        const url = $link.attr('href');

                        // Kiểm tra thuộc tính link-active
                        if ($link.attr('link-active') == '0') {
                            console.log("Hủy");
                            return;
                        }

                        // Hiển thị modal với hiệu ứng fadeIn
                        console.log(url);
                        $modal.stop(true, true).fadeIn(300);

                        // Lấy dữ liệu từ URL
                        $.ajax({
                            url: url,
                            method: 'GET',
                            success: function(data) {
                                // Tạo một phần tử DOM tạm thời để phân tích HTML
                                const tempDiv = $('<div>').html(data);

                                // Tìm tất cả các thẻ <script> với type="application/ld+json"
                                const jsonLdScripts = tempDiv.find('script[type="application/ld+json"]');

                                // Lấy thẻ <script> cuối cùng
                                const lastJsonLdScript = jsonLdScripts.last().html();
                                    
                                if (lastJsonLdScript) {
                                    try {
                                        // Phân tích dữ liệu JSON-LD
                                        const jsonLdData = JSON.parse(lastJsonLdScript);
                                        console.log(jsonLdData);

                                        // Hiển thị dữ liệu trong modal
                                        $modalBody.html(`
                                            <img class="w-100" src="${jsonLdData.thumbnail || 'http://localhost:9020/images/img/default_logo-min_11zon.webp'}">
                                            <div class="modal-des">${jsonLdData.description || 'N/A'}</div>
                                        `);
                                    } catch (e) {
                                        console.error('Không tìm thấy dữ liệu', e);
                                        $modalBody.html('<div>Không tìm thấy dữ liệu</div>');
                                    }
                                } else {
                                    console.log('Không tìm thấy thẻ <script> JSON-LD nào');
                                }
                            },
                            error: function() {
                                console.error('Không thể lấy nội dung trang');
                                $modalBody.html('<p>Không thể lấy nội dung trang</p>');
                            }
                        });

                        // Tính toán vị trí của modal liên tục khi di chuyển chuột
                        $link.on('mousemove', function(e) {
                            const cursorX = e.clientX;
                            const cursorY = e.clientY;
                            const modalWidth = $modal.outerWidth();
                            const modalHeight = $modal.outerHeight();
                            const windowWidth = $(window).width();
                            const windowHeight = $(window).height();

                            // Điều chỉnh vị trí modal dựa trên con trỏ chuột và viewport
                            let left, top;
                            if (cursorX > windowWidth / 2) {
                                left = cursorX - modalWidth - 10; // Modal nằm bên trái con trỏ chuột
                            } else {
                                left = cursorX + 10; // Modal nằm bên phải con trỏ chuột
                            }

                            if (cursorY + modalHeight > windowHeight) {
                                top = windowHeight - modalHeight - 10; // Modal nằm phía trên con trỏ chuột
                            } else if (cursorY < modalHeight + 10) {
                                top = 10; // Modal nằm phía dưới con trỏ chuột
                            } else {
                                top = cursorY - 10; // Modal ở vị trí con trỏ chuột
                            }

                            // Đặt vị trí của modal
                            $modal.css({
                                top: top + 'px',
                                left: left + 'px'
                            });
                        });
                    }, function() {
                        // Ẩn modal với hiệu ứng fadeOut khi rời chuột khỏi liên kết
                        timer = setTimeout(function() {
                            $modal.stop(true, true).fadeOut(300);
                        }, 0); // Thay đổi thời gian delay nếu cần

                        // Gỡ bỏ sự kiện mousemove khi rời khỏi liên kết
                        $(this).off('mousemove');
                    });

                    // Xử lý nút đóng modal
                    $('.close').click(function() {
                        $modal.hide();
                    });
                });

            </script>
            <script defer>
                $(document).ready(function() {
                    var tocList = $('.toc-list');
                    var tocCounters = [0, 0, 0, 0];

                    $('.news_detail').find('h2, h3, h4, h5').each(function() {
                        var tagName = $(this).prop('tagName').toLowerCase();
                        var level = parseInt(tagName.charAt(1)) - 2;

                        tocCounters[level]++;
                        for (var i = level + 1; i < tocCounters.length; i++) {
                            tocCounters[i] = 0;
                        }

                        var tocNumber = tocCounters.slice(0, level + 1).join('.');
                        var tocItem = $('<li>')
                            .addClass(tagName + '-toc')
                            .append($('<span>').addClass('toc-item').attr('data-target', tocNumber).text($(this).text()));

                        tocList.append(tocItem);

                        $(this).attr('id', tocNumber);
                    });

                    $('.toc-list').on('click', '.toc-item', function() {
                        var targetId = $(this).attr('data-target');

                        var target = $('#' + targetId.replace(/\./g, '\\.'));
                        console.log(target);
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top - 80
                            }, 500);
                        }
                    });
                    $('.news_toc_tit_hide').on('click', function() {
                        var tocList = $('.toc-list');
                        if (tocList.is(':visible')) {
                            tocList.slideUp(500, function() {
                                $('.news_toc_tit_hide').text('[Hiện]');
                                
                            });
                        } else {
                            tocList.slideDown(500, function() {
                                $('html, body').animate({
                                    scrollTop: tocList.offset().top
                                }, 500);
                                $('.news_toc_tit_hide').text('[Ẩn]');
                            });
                        }
                    });
                });
            </script>
            <script>
                $(document).ready(function() {
                    let timer;

                    $('.news_detail a').hover(function(e) {
                        const $link = $(this);
                        const url = $link.attr('href');
                        const $modal = $('#myModal');
                        const $modalBody = $('#modal-body');

                        // Hiển thị modal
                        $modal.show();

                        // Tính toán vị trí của modal
                        const offset = $link.offset();
                        const linkWidth = $link.outerWidth();
                        const linkHeight = $link.outerHeight();
                        const modalWidth = $modal.outerWidth();
                        const modalHeight = $modal.outerHeight();

                        // Tính toán vị trí modal
                        let top = offset.top;
                        let left = offset.left + linkWidth;

                        // Điều chỉnh nếu modal ra ngoài viewport
                        if (left + modalWidth > $(window).width()) {
                            left = $(window).width() - modalWidth - 10; // Giảm 10px để tránh bị cắt bớt
                        }

                        if (top + modalHeight > $(window).height()) {
                            top = $(window).height() - modalHeight - 10; // Giảm 10px để tránh bị cắt bớt
                        }

                        // Đặt vị trí của modal
                        $modal.css({
                            top: top + 'px',
                            left: left + 'px'
                        });

                        // Lấy dữ liệu từ URL
                        $.ajax({
                            url: url,
                            method: 'GET',
                            success: function(data) {
                                // Tạo một phần tử DOM tạm thời để phân tích HTML
                                const tempDiv = $('<div>').html(data);

                                // Tìm tất cả các thẻ <script> với type="application/ld+json"
                                const jsonLdScripts = tempDiv.find('script[type="application/ld+json"]');

                                // Lấy thẻ <script> cuối cùng
                                const lastJsonLdScript = jsonLdScripts.last().html();
                                    
                                if (lastJsonLdScript) {
                                    try {
                                        // Phân tích dữ liệu JSON-LD
                                        const jsonLdData = JSON.parse(lastJsonLdScript);
                                        console.log(jsonLdData);

                                        // Hiển thị dữ liệu trong modal
                                        $modalBody.html(`
                                            <img class="w-100" src="${jsonLdData.thumbnail || 'http://localhost:9020/images/img/default_logo-min_11zon.webp'}">
                                            <div class="modal-des">${jsonLdData.description || 'N/A'}</div>
                                        `);
                                    } catch (e) {
                                        console.error('Không thể phân tích dữ liệu JSON-LD', e);
                                    }
                                } else {
                                    console.log('Không tìm thấy thẻ <script> JSON-LD nào');
                                }
                            },
                            error: function() {
                                console.error('Không thể lấy nội dung trang');
                            }
                        });
                    }, function() {
                        // Ẩn modal khi rời chuột khỏi liên kết
                        timer = setTimeout(function() {
                            $('#myModal').hide();
                        }, 100); // Thay đổi thời gian delay nếu cần
                    });

                    // Đảm bảo modal không bị ẩn khi hover vào modal
                    $('#myModal').on('mouseenter', function() {
                        clearTimeout(timer);
                        $(this).show();
                    }).on('mouseleave', function() {
                        $(this).hide();
                    });

                    // Xử lý nút đóng modal
                    $('.close').click(function() {
                        $('#myModal').hide();
                    });
                });

            </script>
                
                    
</body>

</html>